
// latest jquery
script(src='../assets/js/jquery.min.js')
// Bootstrap js
if popper
  script(src='../assets/js/bootstrap/popper.min.js')
script(src='../assets/js/bootstrap/bootstrap.bundle.min.js')
// feather icon js
script(src='../assets/js/icons/feather-icon/feather.min.js')
script(src='../assets/js/icons/feather-icon/feather-icon.js')
// scrollbar js
if scrollbar
  script(src='../assets/js/scrollbar/simplebar.js')
  script(src='../assets/js/scrollbar/custom.js')
// Sidebar jquery
script(src='../assets/js/config.js')
// Plugins JS start
if sidebar
  script(src='../assets/js/sidebar-menu.js')
  script(src='../assets/js/sidebar-pin.js')
if clock 
  script(src='../assets/js/clock.js')
if isotope
  script(src='../assets/js/isotope.pkgd.js')
if jquery_ui
  script(src='../assets/js/jquery.ui.min.js')
if bookmark_page
  script(src='../assets/js/bookmark/jquery.validate.min.js')
  script(src='../assets/js/bookmark/custom.js')
if aos
  script(src='../assets/js/animation/aos/aos.js')
if page_aos
  script(src='../assets/js/animation/aos/aos-init.js')
if tilt
  script(src='../assets/js/animation/tilt/tilt.jquery.js')
if page_tilt
  script(src='../assets/js/animation/tilt/tilt-custom.js')
if page_animate
  script(src='../assets/js/animation/animate-custom.js')
if jkanban
  script(src='../assets/js/jkanban/jkanban.js')
  script(src='../assets/js/jkanban/custom.js')
if calendar
  script(src='../assets/js/calendar/fullcalendar.min.js')
  script(src='../assets/js/calendar/fullcalendar-custom.js')
if slick 
  script(src='../assets/js/slick/slick.min.js')
  script(src='../assets/js/slick/slick.js')
  if (landing_slider)
    script(src='../assets/js/landing-slick.js')
  if (header_slider)
    script(src='../assets/js/header-slick.js')
if chartjs
  script(src='../assets/js/chart/chartjs/chart.min.js')
if chartist
  script(src='../assets/js/chart/chartist/chartist.js')
  script(src='../assets/js/chart/chartist/chartist-plugin-tooltip.js')
if page_chartist
  script(src='../assets/js/chart/chartist/chartist-custom.js')
if morrischart
  script(src='../assets/js/chart/morris-chart/raphael.js')
  script(src='../assets/js/chart/morris-chart/morris.js') 
  script(src='../assets/js/chart/morris-chart/prettify.min.js')
if page_chartjs
  script(src='../assets/js/chart/chartjs/chart.custom.js')
if flotchart
  script(src='../assets/js/chart/flot-chart/excanvas.js')
  script(src='../assets/js/chart/flot-chart/jquery.flot.js')
  script(src='../assets/js/chart/flot-chart/jquery.flot.time.js')
  script(src='../assets/js/chart/flot-chart/jquery.flot.categories.js')
  script(src='../assets/js/chart/flot-chart/jquery.flot.stack.js')
  script(src='../assets/js/chart/flot-chart/jquery.flot.pie.js')
  script(src='../assets/js/chart/flot-chart/jquery.flot.symbol.js')
if page_flotchart
  script(src='../assets/js/chart/flot-chart/flot-script.js')
if googlechart
  script(src='../assets/js/chart/google/google-chart-loader.js')
if page_googlechart
  script(src='../assets/js/chart/google/google-chart.js')
if knobchart
  script(src='../assets/js/chart/knob/knob.min.js')
if page_knobchart
  script(src='../assets/js/chart/knob/knob-chart.js')
if page_morrischart
  script(src='../assets/js/chart/morris-chart/morris-script.js')
if peitychart
  script(src='../assets/js/chart/peity-chart/peity.jquery.js')
if page_peitychart
  script(src='../assets/js/chart/peity-chart/peity-custom.js')
if sparkline
  script(src='../assets/js/chart/sparkline/sparkline.js')
if page_sparkline
  script(src='../assets/js/chart/sparkline/sparkline-script.js')
if apex_widget
  script(src='../assets/js/chart/apex-chart/moment.min.js')
if apex
  script(src='../assets/js/chart/apex-chart/apex-chart.js')
  script(src='../assets/js/chart/apex-chart/stock-prices.js')
if apexmoment 
  script(src='../assets/js/chart/apex-chart/moment.min.js')
if page_apex
  script(src='../assets/js/chart/apex-chart/chart-custom.js')
if echart 
  script(src='../assets/js/chart/echart/esl.js')
  script(src='../assets/js/chart/echart/config.js')
if echart_pie
  script(src='../assets/js/chart/echart/pie-chart/facePrint.js')
  script(src='../assets/js/chart/echart/pie-chart/testHelper.js')
  script(src='../assets/js/chart/echart/pie-chart/custom-transition-texture.js')
  script(src='../assets/js/chart/echart/data/symbols.js')
if page_echart
  script(src='../assets/js/chart/echart/custom.js')
if todo
  script(src='../assets/js/todo/todo.js')
if prism
  script(src='../assets/js/prism/prism.min.js')
if clipboard
  script(src='../assets/js/clipboard/clipboard.min.js')
if page_clipboard
  script(src='../assets/js/clipboard/clipboard-script.js')
if counter
  script(src='../assets/js/counter/jquery.waypoints.min.js')
  script(src='../assets/js/counter/jquery.counterup.min.js')
  script(src='../assets/js/counter/counter-custom.js')
if customcard
  script(src='../assets/js/custom-card/custom-card.js')
if notify
  script(src='../assets/js/notify/bootstrap-notify.min.js')
if toasts
  script(src='../assets/js/notify/custom-notify.js')
if icon_notify
  script(src='../assets/js/icons/icons-notify.js')
if vector_map
  script(src='../assets/js/vector-map/jquery-jvectormap-2.0.2.min.js')
  script(src='../assets/js/vector-map/map/jquery-jvectormap-world-mill-en.js')
  script(src='../assets/js/vector-map/map/jquery-jvectormap-us-aea-en.js')
  script(src='../assets/js/vector-map/map/jquery-jvectormap-uk-mill-en.js')
  script(src='../assets/js/vector-map/map/jquery-jvectormap-au-mill.js')
  script(src='../assets/js/vector-map/map/jquery-jvectormap-chicago-mill-en.js')
  script(src='../assets/js/vector-map/map/jquery-jvectormap-in-mill.js')
  script(src='../assets/js/vector-map/map/jquery-jvectormap-asia-mill.js')
if dashboard_default
  script(src='../assets/js/dashboard/default.js')
  script(src='../assets/js/notify/index.js')
if datatable
  script(src='../assets/js/datatable/datatables/jquery.dataTables.min.js')
if page_datatable
  script(src='../assets/js/datatable/datatables/datatable.custom.js')
if page_datatable1
  script(src='../assets/js/datatable/datatables/datatable.custom1.js')
if datatable_advance 
  script(src='../assets/js/datatable/datatable_advance.js')
if datatable_extension
  script(src='../assets/js/datatable/datatable-extension/dataTables.buttons.min.js')
  script(src='../assets/js/datatable/datatable-extension/jszip.min.js')
  script(src="../assets/js/datatable/datatable-extension/buttons.colVis.min.js")
  script(src='../assets/js/datatable/datatable-extension/pdfmake.min.js')
  script(src='../assets/js/datatable/datatable-extension/vfs_fonts.js')
  script(src='../assets/js/datatable/datatable-extension/dataTables.autoFill.min.js')
  script(src='../assets/js/datatable/datatable-extension/dataTables.select.min.js')
  script(src='../assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js')
  script(src='../assets/js/datatable/datatable-extension/buttons.html5.min.js')
  script(src='../assets/js/datatable/datatable-extension/buttons.print.min.js')
  script(src='../assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js')
  script(src='../assets/js/datatable/datatable-extension/dataTables.responsive.min.js')
  script(src='../assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js')
  script(src='../assets/js/datatable/datatable-extension/dataTables.keyTable.min.js')
  script(src='../assets/js/datatable/datatable-extension/dataTables.colReorder.min.js')
  script(src='../assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js')
  script(src='../assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js')
  script(src='../assets/js/datatable/datatable-extension/dataTables.scroller.min.js')
  script(src='../assets/js/datatable/datatable-extension/custom.js')
if js_datatables 
  script(src='../assets/js/js-datatables/simple-datatables@latest.js')
if custom_list_product
  script(src='../assets/js/custom-list-product.js')
if common_chat
  script(src='../assets/js/common-chat.js')
if emoji_bar 
  script(src='../assets/js/emoji-js/uikit.min.js')
  script(src='../assets/js/emoji-js/custom-emoji.js')
  script(src='../assets/js/emoji-js/custom-emojis.js')
if date_picker
  script(src='../assets/js/datepicker/date-picker/datepicker.js')
  script(src='../assets/js/datepicker/date-picker/datepicker.en.js')
  script(src='../assets/js/datepicker/date-picker/datepicker.custom.js')
if input_mask 
  script(src='../assets/js/cleave/cleave.min.js')
  script(src='../assets/js/cleave/custom-cleave.js')
if flatpickr 
  script(src='../assets/js/flat-pickr/flatpickr.js')
  script(src='../assets/js/flat-pickr/custom-flatpickr.js')
if dragable
  script(src='../assets/js/dragable/sortable.js')
  script(src='../assets/js/dragable/sortable-custom.js')
if ace_editor
  script(src='../assets/js/editor/ace-editor/ace.js')
  script(src='../assets/js/editor/ace-editor/ace-custom.js')
  script(src='../assets/js/editor/ace-editor/mode-css.js')
  script(src='../assets/js/editor/ace-editor/mode-html.js')
  script(src='../assets/js/editor/ace-editor/mode-javascript.js')
  script(src='../assets/js/editor/ace-editor/mode-php.js')
  script(src='../assets/js/editor/ace-editor/theme-monokai.js')
  script(src='../assets/js/editor/ace-editor/worker-css.js')
  script(src='../assets/js/editor/ace-editor/worker-html.js')
  script(src='../assets/js/editor/ace-editor/worker-javascript.js')
  script(src='../assets/js/editor/ace-editor/worker-php.js')
if dropzone
  script(src='../assets/js/dropzone/dropzone.js')
  script(src='../assets/js/dropzone/dropzone-script.js')
if form_wizard
  script(src='../assets/js/form-wizard/form-wizard.js')
if form_wizard_four
  script(src='../assets/js/form-wizard/form-wizard-five.js')
if verification_code 
  script(src='../assets/js/form-wizard/verification.js')
if image_upload 
  script(src='../assets/js/form-wizard/image-upload.js')
if page_feather_icon
  script(src='../assets/js/icons/feather-icon/feather-icon-clipart.js')
if page_flag_icon
  script(src='../assets/js/icons/flag-icon-clipart.js')
if page_icon
  script(src='../assets/js/icons/icon-clipart.js')
if page_whether_icon
  script(src='../assets/js/icons/whether-icon-clipart.js')
if image_cropper
  script(src='../assets/js/image-cropper/cropper.js')
  script(src='../assets/js/image-cropper/cropper-main.js')
if jsgrid
  script(src='../assets/js/jsgrid/jsgrid.min.js')
  script(src='../assets/js/jsgrid/griddata.js')
  script(src='../assets/js/jsgrid/jsgrid.js')
if photo_swipe
  script(src='../assets/js/photoswipe/photoswipe.min.js')
  script(src='../assets/js/photoswipe/photoswipe-ui-default.min.js')
  script(src='../assets/js/photoswipe/photoswipe.js')
if scrollreveal
  script(src='../assets/js/animation/scroll-reveal/scrollreveal.min.js')
  script(src='../assets/js/modernizr.js')
if pages_crollreveal
  script(src='../assets/js/animation/scroll-reveal/reveal-custom.js')
if range_slider
  script(src='../assets/js/range-slider/ion.rangeSlider.min.js')
if page_range_slider
  script(src='../assets/js/range-slider/rangeslider-script.js')
if rating
  script(src='../assets/js/rating/jquery.barrating.js')
  script(src='../assets/js/rating/rating-script.js')
if emoji_rating
  script(src='../assets/js/rating/emoji_rating.js')
if scrollable
  script(src='../assets/js/scrollable/perfect-scrollbar.min.js')
  script(src='../assets/js/scrollable/scrollable-custom.js')
if sweetalert2
  script(src='../assets/js/sweet-alert/sweetalert.min.js')
if page_sweetalert2
  script(src='../assets/js/sweet-alert/app.js')
if timeline_1
  script(src='../assets/js/timeline/timeline-v-1/main.js')
if touchspin
  script(src='../assets/js/touchspin/vendors.min.js')
  script(src='../assets/js/touchspin/touchspin.js')
  script(src='../assets/js/touchspin/input-groups.min.js')
if touchspin_2 
  script(src='../assets/js/touchspin_2/custom_touchspin.js')
if owlcarousel
  script(src='../assets/js/owlcarousel/owl.carousel.js')
if page_owlcarousel
  script(src='../assets/js/owlcarousel/owl-custom.js')
if select2 
  script(src='../assets/js/select2/select2.full.min.js')
if select2_options 
  script(src='../assets/js/select2/tagify.js')
  script(src='../assets/js/select2/tagify.polyfills.min.js')
  script(src='../assets/js/select2/intltelinput.min.js')
if custom_select2
  script(src='../assets/js/select2/telephone-input.js')
  script(src='../assets/js/select2/custom-inputsearch.js')
if page_select2
  script(src='../assets/js/select2/select2-custom.js')
if page_select3 
  script(src='../assets/js/select2/select3-custom.js')
if page_select4
  script(src='../assets/js/add-product/select4-custom.js')
if tour
  script(src='../assets/js/tour/intro.js')
  script(src='../assets/js/tour/intro-init.js')
if tree 
  script(src='../assets/js/tree/jstree.min.js')
  script(src='../assets/js/tree/tree.min.js')
  script(src='../assets/js/tree/tree.js')
if swiper 
  script(src='../assets/js/swiper/swiper-bundle.min.js')
if typeahead
  script(src='../assets/js/typeahead/handlebars.js')
  script(src='../assets/js/typeahead/typeahead.bundle.js')
  script(src='../assets/js/typeahead/typeahead.custom.js')
if typeahead_search
  script(src='../assets/js/typeahead-search/handlebars.js')
  script(src='../assets/js/typeahead-search/typeahead-custom.js')
if page_vector_map
  script(src='../assets/js/vector-map/map-vector.js')
if chart_widget
  script(src='../assets/js/chart-widget.js')
if countdown
  script(src='../assets/js/countdown.js')
if timer_down 
  script(src='../assets/js/timer.js')
if dashboard_2
  script(src='../assets/js/dashboard/dashboard_2.js')
if dashboard_3
  script(src='../assets/js/dashboard/dashboard_3.js')
if dashboard_4
  script(src='../assets/js/dashboard/dashboard_4.js')
if dashboard_5
  script(src='../assets/js/dashboard/dashboard_5.js')
if dashboard_6
  script(src='../assets/js/dashboard/dashboard_6.js')
if dashboard_7 
  script(src='../assets/js/dashboard/dashboard_7.js')
if dashboard_8
  script(src='../assets/js/dashboard/dashboard_8.js')
if ecommerce
  script(src='../assets/js/ecommerce.js')
if email_pagination 
  script(src='../assets/js/letter-box/custom-mail-pagination.js')
  script(src='../assets/js/letter-box/custom-usermail.js')
if editors 
  script(src='../assets/js/editors/quill.js')
if editors1 
  script(src='../assets/js/editors/custom-quill.js')
if editors2 
  script(src='../assets/js/custom-add-product.js')
if editors3 
  script(src='../assets/js/custom-add-product3.js')
if editors4
  script(src='../assets/js/custom-add-product4.js')
if form_validation_custom
  script(src='../assets/js/form-validation-custom.js')
if filepond 
  script(src='../assets/js/filepond/filepond-plugin-image-preview.js')
  script(src='../assets/js/filepond/filepond-plugin-file-rename.js')
  script(src='../assets/js/filepond/filepond-plugin-image-transform.js')
  script(src='../assets/js/filepond/filepond.js')
  script(src='../assets/js/filepond/custom-filepond.js')
if contact_page
  script(src='../assets/js/bookmark/jquery.validate.min.js')
  script(src='../assets/js/contacts/custom.js')
if general_widget
  script(src='../assets/js/general-widget.js')
if height_equal
  script(src='../assets/js/height-equal.js')
if hide_on_scroll
  script(src='../assets/js/hide-on-scroll.js')
if page_masonry
  script(src='../assets/js/masonry-gallery.js')
if modal_animated
  script(src='../assets/js/modal-animated.js')
if modernizr
  script(src='../assets/js/modernizr.js')
if popover_custom
  script(src='../assets/js/popover-custom.js')
if print
  script(src='../assets/js/print.js')
if product_list
  script(src='../assets/js/product-list-custom.js')
if support_ticket_custom
  script(src='../assets/js/support-ticket-custom.js')
if tooltip
  script(src='../assets/js/tooltip-init.js')
if wow
  script(src='../assets/js/animation/wow/wow.min.js')
if page_wow
  script(src='../assets/js/animation/wow/wow-init.js')
if internationalization
  script(src='../assets/js/internationalization/language-picker.js')
if map_js
  script(src="../assets/js/map-js/leaflet.js")
  script(src='../assets/js/map-js/custom.js')
  script(src='../assets/js/map-js/map-custom2.js')
if product_tab
  script(src='../assets/js/product-tab.js')
if login
  script(src='../assets/js/login.js')
if landing_sticky
  script(src='../assets/js/landing_sticky.js')
  script(src='../assets/js/landing.js')
if jarallax_libs
  script(src='../assets/js/jarallax_libs/libs.min.js')
if alert 
  script(src='../assets/js/alert.js')
if validation_modal 
  script(src='../assets/js/modalpage/validation-modal.js')
// Plugins JS Ends

// Theme js
script(src='../assets/js/script.js')
if  theme_customizer
  script(src='../assets/js/theme-customizer/customizer.js')
