- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
- var height_equal          = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-6
                  h4
                    | Base Inputs
                .col-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Form Controls
                    li.breadcrumb-item.active Base inputs
          // Container-fluid starts
          .container-fluid
            .row
              .col-md-6
                .card
                  .card-header
                    h4 Basic form
                    p.f-m-light.mt-1 
                      | Use the 
                      code .form-label 
                      | and 
                      code .form-control 
                      | through create basic form.
                  .card-body
                    .card-wrapper.border.rounded-3
                      form.row.g-3
                        .col-md-12
                          label.form-label(for='inputEmail4') Email
                          input#inputEmail4.form-control(type='email' placeholder='Enter Your Email')
                        .col-md-12
                          label.form-label(for='inputPassword4') Password
                          input#inputPassword4.form-control(type='password' placeholder='Enter Your Password')
                        .col-12
                          .form-check.checkbox-checked
                            input#gridCheck1.form-check-input(type='checkbox')
                            label.form-check-label(for='gridCheck1')
                              | Check me out
                        .col-12
                          button.btn.btn-primary(type='submit') Sign in 
              .col-md-6
                .card
                  .card-header
                    h4 Floating form 
                    p.f-m-light.mt-1 
                      | Use the 
                      code .form-floating
                      |  through create floating form.
                  .card-body
                    .card-wrapper.border.rounded-3
                      form.row.g-3.floating-wrapper
                        .col-12
                          .form-floating.mb-3
                            input#floatingInput22.form-control(type='email' placeholder='name@example.com')
                            label(for='floatingInput22') Email address
                        .col-12
                          .form-floating
                            input#floatingPassword.form-control(type='password' placeholder='Password')
                            label(for='floatingPassword') Password
                        .col-12
                          .form-check.checkbox-checked
                            input#gridCheck.form-check-input(type='checkbox')
                            label.form-check-label(for='gridCheck')
                              | Check me out
                        .col-12
                          button.btn.btn-primary(type='submit') Sign in 
              .col-md-6
                .card
                  .card-header
                    h4 Select sizing
                    p.f-m-light.mt-1 
                      code .form-select
                      |  to trigger the custom styles. You may also choose from small and large custom selects to match our similarly sized text inputs. class:- 
                      code [form-select-lg/form-select-sm]
                      | .
                  .card-body
                    select.form-select.form-select-sm(aria-label='.form-select-sm example')
                      option(selected='') What's Your Hobbies 
                      option(value='1') Kho-kho
                      option(value='2') Reading Books
                      option(value='3') Creativity
              .col-md-6
                .card
                  .card-header
                    h4 Form control sizing
                    p.f-m-light.mt-1 
                      | Set heights using classes like 
                      code .form-control-lg
                      |  and 
                      code .form-control-sm
                      | .
                  .card-body
                    input.form-control.form-control-sm(type='text' placeholder='.form-control-sm' aria-label='.form-control-sm example')
              .col-md-6
                .card
                  .card-header
                    h4 File input 
                    p.f-m-light.mt-1 
                      | For default file/multiple file/disabled file/small file/large file input for use 
                      code &lt;input&gt; 
                      | with 
                      code (type='file').
                  .card-body
                    .mb-3
                      label.form-label(for='formFile') Default file input example
                      input#formFile.form-control(type='file')
                    .mb-3
                      label.form-label(for='formFileMultiple') Multiple files input example
                      input#formFileMultiple.form-control(type='file' multiple='')
                    .mb-3
                      label.form-label(for='formFileDisabled') Disabled file input example
                      input#formFileDisabled.form-control(type='file' disabled='')
                    .mb-3
                      label.form-label(for='formFileSm') Small file input example
                      input#formFileSm.form-control.form-control-sm(type='file')
                    div
                      label.form-label(for='formFileLg') Large file input example
                      input#formFileLg.form-control.form-control-lg(type='file')
              .col-md-6
                .card
                  .card-header
                    h4 Flat input style
                    p.f-m-light.mt-1 
                      | Use the 
                      code .btn-square 
                      | through defined 0px border-radius.
                  form.form.theme-form.dark-inputs
                    .card-body
                      .row
                        .col
                          .mb-3
                            label.form-label(for='exampleFormControlSelect12') Select your favorite roman number
                            select#exampleFormControlSelect12.form-select.btn-square.digits
                              option I 
                              option II 
                              option III
                              option IV 
                              option V 
                      .row
                        .col
                          .mb-3
                            label.form-label(for='exampleFormControlSelect13') Select your multiple paintings
                            select#exampleFormControlSelect13.form-select.btn-square.digits(multiple='')
                              option.rounded-0 Landscape 
                              option.rounded-0 Portrait 
                              option.rounded-0 Oil Painting
                              option.rounded-0 Abstract art
                              option.rounded-0 Acrylic 
                      .row
                        .col
                          div
                            label.form-label(for='exampleFormControlTextarea14') Please do comments
                            textarea#exampleFormControlTextarea14.form-control.btn-square(rows='3')
              .col-xl-6
                .card.height-equal
                  .card-header
                    h4 Basic HTML input control
                    p.f-m-light.mt-1 
                      | Give textual form controls like 
                      code &lt;input&gt;
                      | s and 
                      code &lt;textarea&gt;
                      | s an upgrade with custom styles, sizing, focus states, and more.
                  form.form.theme-form
                    .card-body.custom-input
                      .row
                        .col
                          .mb-3.row
                            label.col-sm-3 Placeholder
                            .col-sm-9
                              input.form-control(type='text', placeholder='Type your title in Placeholder')
                          .mb-3.row
                            label.col-sm-3 Password
                            .col-sm-9
                              input.form-control(type='password', placeholder='Password input')
                          .mb-3.row
                            label.col-sm-3 Number
                            .col-sm-9
                              input.form-control.digits(type='number', placeholder='Number')
                          .mb-3.row
                            label.col-sm-3 Telephone
                            .col-sm-9
                              input.form-control.m-input.digits(type='tel', value='91-(999)-999-999')
                          .mb-3.row
                            label.col-sm-3 URL
                            .col-sm-9
                              input.form-control(type='url', value='https://getbootstrap.com')
                          .mb-3.row
                            label.col-sm-3 Date and time
                            .col-sm-9
                              input#example-datetime-local-input.form-control.digits(type='datetime-local', value='2018-01-19T18:45:00')
                          .mb-3.row
                            label.col-sm-3 Date
                            .col-sm-9
                              input.form-control.digits(type='date', value='2018-01-01')
                          .mb-3.row
                            label.col-sm-3 Month
                            .col-sm-9
                              input.form-control.digits(type='month', value='2018-01')
                          .mb-3.row
                            label.col-sm-3 Week
                            .col-sm-9
                              input.form-control.digits(type='week', value='2018-W09')
                          .mb-3.row 
                            .col-sm-3
                              label.form-label(for='exampleDataList') Datalist example
                            .col-sm-9
                              input#exampleDataList.form-control(list='datalistOptions' placeholder='Look up your nation...')
                              datalist#datalistOptions
                                option(value='San Francisco')
                                option(value='New York')
                                option(value='Seattle')
                                option(value='Los Angeles')
                                option(value='Chicago')
                                option(value='India') 
                          .mb-3.row
                            label.col-sm-3 Time
                            .col-sm-9
                              input.form-control.digits(type='time', value='21:45:00')
                          .mb-3.row
                            label.col-sm-3.pt-0 Color picker
                            .col-sm-2
                              input.form-control.form-control-color(type='color', value='#563d7c')
                          .mb-3.row
                            label.col-sm-3
                              | Maximum
                              | Length
                            .col-sm-9
                              input.form-control(type='text', placeholder='Content must be in 6 characters', maxlength='6')
                          .row
                            label.col-sm-3 Static Text
                            .col-sm-9
                              .form-control-static
                                | Hello !... This is
                                | my magical text
                    .card-footer.text-end
                      .col-sm-9.offset-sm-3
                        button.btn.btn-primary.me-3(type='submit') Submit
                        input.btn.btn-light(type='reset', value='Cancel')
              .col-xl-6
                .card.height-equal
                  .card-header
                    h4 Basic floating input control
                    p.f-m-light.mt-1 
                      | Give textual form controls like 
                      code &lt;input&gt;
                      | s and 
                      code &lt;textarea&gt;
                      | s an upgrade with custom styles, sizing, focus states, and more.
                  form.form.theme-form
                    .card-body.custom-input
                      .row 
                        .col 
                          .mb-3.row 
                            label.col-sm-3 Valid input 
                            .col-sm-9
                              .form-floating
                                input#floatingInputValue.form-control(type='email' placeholder='name@example.com' value='test@example.com')
                                label(for='floatingInputValue') Input with value
                          .mb-3.row 
                            label.col-sm-3 Invalid input 
                            .col-sm-9 
                              .form-floating
                                input#floatingInputInvalid.form-control.is-invalid(type='email' placeholder='name@example.com' value='test@example.com')
                                label(for='floatingInputInvalid') Invalid input
                          .mb-3.row 
                            label.col-sm-3 Comments
                            .col-sm-9 
                              .form-floating
                                textarea#floatingTextarea.form-control(placeholder='Leave a comment here')
                                label(for='floatingTextarea') Comments
                          .mb-3.row 
                            label.col-sm-3 Email
                            .col-sm-9 
                              .form-floating.mb-3
                                input#floatingInput.form-control(type='email')
                                label(for='floatingInput') Email address
                          .mb-3.row 
                            label.col-sm-3 Password
                            .col-sm-9 
                              .form-floating
                                input#floatingPassword1.form-control(type='password')
                                label(for='floatingPassword1') Password
                          .mb-3.row 
                            label.col-sm-3 Comments
                            .col-sm-9 
                              .form-floating
                                textarea#floatingTextarea2.form-control(placeholder='Leave a comment here' style='height: 100px')
                                label(for='floatingTextarea2') Comments
                          .mb-3.row 
                            label.col-sm-3 Open this select menu 
                            .col-sm-9 
                              .form-floating
                                select#floatingSelect.form-select(aria-label='Floating label select example')
                                  option(selected='') Open this select menu
                                  option(value='1') I 
                                  option(value='2') II 
                                  option(value='3') III 
                                label(for='floatingSelect') Works with selects
                          .mb-3.row 
                            label.col-sm-3 Input group
                            .col-sm-9 
                              .input-group.mb-3
                                span.input-group-text @
                                .form-floating
                                  input#floatingInputGroup1.form-control(type='text')
                                  label(for='floatingInputGroup1') Username
                          .mb-3.row 
                            label.col-sm-3 Input group
                            .col-sm-9 
                              .input-group.has-validation
                                span.input-group-text @
                                .form-floating.is-invalid
                                  input#floatingInputGroup2.form-control.is-invalid(type='text' required='')
                                  label(for='floatingInputGroup2') Username
                                .invalid-feedback
                                  | Please choose a username.
                          .mb-0.row 
                            label.col-sm-3 Layout
                            .col-sm-9 
                              .row.g-2
                                .col-xxl-6
                                  .form-floating
                                    input#floatingInputGrid.form-control(type='email' placeholder='name@example.com' value='mdo@example.com')
                                    label(for='floatingInputGrid') Email address
                                .col-xxl-6
                                  .form-floating
                                    select#floatingSelectGrid.form-select
                                      option(selected='') Open this select menu
                                      option(value='1') One
                                      option(value='2') Two
                                      option(value='3') Three
                                    label(for='floatingSelectGrid') Works with selects
                    .card-footer.text-end
                      .col-sm-9.offset-sm-3
                        button.btn.btn-primary.me-3(type='submit') Submit
                        input.btn.btn-light(type='reset', value='Cancel')
              .col-md-6
                .card
                  .card-header
                    h4 Edges input style
                    p.f-m-light.mt-1 
                      | Use the 
                      code .btn-pill 
                      | through defined border-radius.
                  form.form.theme-form.dark-inputs
                    .card-body
                      .row
                        .col
                          .mb-3
                            label.form-label(for='exampleFormControlInput5') Email address
                            input#exampleFormControlInput5.form-control.btn-pill(type='email', placeholder='name@example.com')
                      .row
                        .col
                          .mb-3
                            label.form-label(for='exampleInputPassword6') Password
                            input#exampleInputPassword6.form-control.btn-pill(type='password', placeholder='Password')
                      .row
                        .col
                          .mb-3
                            label.form-label(for='exampleFormControlSelect7') Select your favorite pixelstrap theme
                            select#exampleFormControlSelect7.form-select.btn-pill.digits
                              option Tivo
                              option Cuba
                              option Roxo
                              option Oslo
                              option Voxo
                              option Sheltos 
                              option Petkart
                              option Zeta
                      .row
                        .col
                          .mb-3
                            label.form-label(for='formFileSimple') Default file input example
                            input#formFileSimple.form-control.btn-pill.px-4(type='file')
                      .row 
                        .col
                          .mb-3 
                            label.form-label Default Input
                            input.form-control.btn-pill(type='text' placeholder='Default input' aria-label='default input example')
                      .row 
                        .col 
                          .mb-3.d-flex.gap-3.checkbox-checked
                            .form-check
                              input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                              label.form-check-label.mb-0(for='flexRadioDefault1')
                                | Male 
                            .form-check
                              input#flexRadioDefault2.form-check-input(type='radio' name='flexRadioDefault' checked='')
                              label.form-check-label.mb-0(for='flexRadioDefault2')
                                | Female
                      .row
                        .col
                          div
                            label.form-label(for='exampleFormControlTextarea9') Comments
                            textarea#exampleFormControlTextarea9.form-control.btn-pill(rows='3')
                    .card-footer.text-end
                      button.btn.btn-primary.me-3(type='submit') Submit
                      input.btn.btn-light(type='reset', value='Cancel')
              .col-md-6
                .card
                  .card-header
                    h4 Raise input style
                    p.f-m-light.mt-1 
                      | Use the 
                      code input-air-* 
                      | through defined bottom box-shadow.
                  form.form.theme-form.dark-inputs
                    .card-body
                      .row
                        .col
                          .mb-3
                            label.form-label(for='exampleFormControlInput15') Email address
                            input#exampleFormControlInput15.form-control.input-air-primary(type='email', placeholder='name@example.com')
                      .row
                        .col
                          .mb-3
                            label.form-label(for='exampleInputPassword16') Password
                            input#exampleInputPassword16.form-control.input-air-primary(type='password', placeholder='Password')
                      .row
                        .col
                          .mb-3
                            label.form-label(for='exampleFormControlSelect17') Select your favorite pixelstrap theme
                            select#exampleFormControlSelect17.form-select.input-air-primary.digits
                              option Tivo
                              option Roxo
                              option Wingo
                              option Cuba
                              option Koho
                      .row
                        .col
                          .mb-3
                            label.form-label(for='exampleFormControlSelect18') Select the color you like below
                            select#exampleFormControlSelect18.form-select.input-air-primary.digits(multiple='')
                              option.rounded-0 Red
                              option.rounded-0 Yellow
                              option.rounded-0 Orange
                              option.rounded-0 White
                              option.rounded-0 Black
                              option.rounded-0 Gray 
                              option.rounded-0 Brown
                              option.rounded-0 Purple 
                              option.rounded-0 White  
                      .row
                        .col
                          div
                            label.form-label(for='exampleFormControlTextarea19') Comments
                            textarea#exampleFormControlTextarea19.form-control.input-air-primary(rows='3')
                    .card-footer.text-end
                      button.btn.btn-primary.me-3(type='submit') Submit
                      input.btn.btn-light(type='reset', value='Cancel')              
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files      
