- var touchspin_2           = true;
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-6
                  h4
                    | Touchspin
                .col-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Form Widgets
                    li.breadcrumb-item.active Touchspin
          // Container-fluid starts
          .container-fluid
            // Custom TouchSpin Spinners start
            .bootstrap-touchspin
              .row
                .col-xl-6
                  .card
                    .card-header
                      h4 Default touchspin
                      p.f-m-light.mt-1 
                        | Use the 
                        code .decrement-touchspin 
                        | and 
                        code .increment-touchspin 
                        | class.
                    .card-body.common-flex
                      .touchspin-wrapper 
                        button.decrement-touchspin.btn-touchspin.touchspin-primary
                          i.fa.fa-minus 
                        input.input-touchspin.spin-outline-primary(type='number' value='0')
                        button.increment-touchspin.btn-touchspin.touchspin-primary
                          i.fa.fa-plus 
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-secondary
                          i.fa.fa-minus  
                        input.input-touchspin.spin-outline-secondary(type='number' value='2')
                        button.increment-touchspin.btn-touchspin.touchspin-secondary
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-success
                          i.fa.fa-minus  
                        input.input-touchspin.spin-outline-success(type='number' value='1')
                        button.increment-touchspin.btn-touchspin.touchspin-success
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-danger
                          i.fa.fa-minus  
                        input.input-touchspin.spin-outline-danger(type='number' value='8')
                        button.increment-touchspin.btn-touchspin.touchspin-danger
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-warning
                          i.fa.fa-minus  
                        input.input-touchspin.spin-outline-warning(type='number' value='3')
                        button.increment-touchspin.btn-touchspin.touchspin-warning
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-info
                          i.fa.fa-minus
                        input.input-touchspin.spin-outline-info(type='number' value='9')
                        button.increment-touchspin.btn-touchspin.touchspin-info
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-dark
                          i.fa.fa-minus     
                        input.input-touchspin.spin-outline-dark(type='number' value='4')
                        button.increment-touchspin.btn-touchspin.touchspin-dark
                          i.fa.fa-plus  
                .col-xl-6
                  .card
                    .card-header
                      h4 Outlined touchspin
                      p.f-m-light.mt-1 
                        | Use the 
                        code .decrement-touchspin 
                        | and 
                        code .increment-touchspin 
                        | class.
                    .card-body.common-flex
                      .touchspin-wrapper 
                        button.decrement-touchspin.btn-touchspin.spin-border-primary
                          i.fa.fa-minus 
                        input.input-touchspin.spin-outline-primary(type='number' value='0')
                        button.increment-touchspin.btn-touchspin.spin-border-primary
                          i.fa.fa-plus 
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.spin-border-secondary
                          i.fa.fa-minus  
                        input.input-touchspin.spin-outline-secondary(type='number' value='2')
                        button.increment-touchspin.btn-touchspin.spin-border-secondary
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.spin-border-success
                          i.fa.fa-minus  
                        input.input-touchspin.spin-outline-success(type='number' value='1')
                        button.increment-touchspin.btn-touchspin.spin-border-success
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.spin-border-danger
                          i.fa.fa-minus  
                        input.input-touchspin.spin-outline-danger(type='number' value='8')
                        button.increment-touchspin.btn-touchspin.spin-border-danger
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.spin-border-warning
                          i.fa.fa-minus  
                        input.input-touchspin.spin-outline-warning(type='number' value='3')
                        button.increment-touchspin.btn-touchspin.spin-border-warning
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.spin-border-info
                          i.fa.fa-minus
                        input.input-touchspin.spin-outline-info(type='number' value='9')
                        button.increment-touchspin.btn-touchspin.spin-border-info
                          i.fa.fa-plus  
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.spin-border-dark
                          i.fa.fa-minus     
                        input.input-touchspin.spin-outline-dark(type='number' value='4')
                        button.increment-touchspin.btn-touchspin.spin-border-dark
                          i.fa.fa-plus  
                .col-xl-6
                  .card
                    .card-header
                      h4 Icons with prefix and postfix
                      p.f-m-light.mt-1 
                        | Use the 
                        code .decrement-touchspin 
                        | and 
                        code .increment-touchspin 
                        | class.
                    .card-body.common-flex.pre-post-touchspin
                      .input-group
                        button.decrement-touchspin.btn-touchspin.touchspin-primary
                          i.fa.fa-minus
                        span.input-group-text $
                        input.input-touchspin.spin-outline-primary(type='number' value='0')
                        button.increment-touchspin.btn-touchspin.touchspin-primary
                          i.fa.fa-plus 
                      .input-group
                        button.decrement-touchspin.btn-touchspin.touchspin-primary
                          i.fa.fa-minus
                        input.input-touchspin.spin-outline-primary(type='number' value='0')
                        span.input-group-text %
                        button.increment-touchspin.btn-touchspin.touchspin-primary
                          i.fa.fa-plus
                .col-xl-6
                  .card
                    .card-header
                      h4 Buttons with prefix and postfix
                      p.f-m-light.mt-1 
                        | Use the 
                        code .decrement-touchspin 
                        | and 
                        code .increment-touchspin 
                        | class.
                    .card-body.common-flex.pre-post-touchspin.bg-touchspin
                      .input-group
                        button.decrement-touchspin.btn-touchspin.touchspin-warning
                          i.fa.fa-minus
                        button#button-addon1.btn-outline-warning(type='button') Pre
                        input.input-touchspin.spin-outline-primary(type='number' value='0')
                        button.increment-touchspin.btn-touchspin.touchspin-warning
                          i.fa.fa-plus 
                      .input-group
                        button.decrement-touchspin.btn-touchspin.touchspin-warning
                          i.fa.fa-minus
                        input.input-touchspin.spin-outline-primary(type='number' value='0')
                        button#button-addon2.btn-outline-warning(type='button') Post
                        button.increment-touchspin.btn-touchspin.touchspin-warning
                          i.fa.fa-plus
                .col-xl-12
                  .card
                    .card-header
                      h4 Rounded touchspin
                      p.f-m-light.mt-1 
                        | Use the 
                        code .decrement-touchspin 
                        | and 
                        code .increment-touchspin 
                        | class.
                    .card-body.common-flex.rounded-touchspin
                      .touchspin-wrapper 
                        button.decrement-touchspin.btn-touchspin.touchspin-primary
                          i.fa.fa-angle-left 
                        input.input-touchspin.spin-outline-primary(type='number' value='0')
                        button.increment-touchspin.btn-touchspin.touchspin-primary
                          i.fa.fa-angle-right
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-secondary
                          i.fa.fa-angle-left
                        input.input-touchspin.spin-outline-secondary(type='number' value='2')
                        button.increment-touchspin.btn-touchspin.touchspin-secondary
                          i.fa.fa-angle-right 
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-success
                          i.fa.fa-angle-left
                        input.input-touchspin.spin-outline-success(type='number' value='1')
                        button.increment-touchspin.btn-touchspin.touchspin-success
                          i.fa.fa-angle-right 
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-danger
                          i.fa.fa-angle-left 
                        input.input-touchspin.spin-outline-danger(type='number' value='8')
                        button.increment-touchspin.btn-touchspin.touchspin-danger
                          i.fa.fa-angle-right 
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-warning
                          i.fa.fa-angle-left 
                        input.input-touchspin.spin-outline-warning(type='number' value='3')
                        button.increment-touchspin.btn-touchspin.touchspin-warning
                          i.fa.fa-angle-right 
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-info
                          i.fa.fa-angle-left
                        input.input-touchspin.spin-outline-info(type='number' value='9')
                        button.increment-touchspin.btn-touchspin.touchspin-info
                          i.fa.fa-angle-right 
                      .touchspin-wrapper
                        button.decrement-touchspin.btn-touchspin.touchspin-dark
                          i.fa.fa-angle-left
                        input.input-touchspin.spin-outline-dark(type='number' value='4')
                        button.increment-touchspin.btn-touchspin.touchspin-dark
                          i.fa.fa-angle-right
              // Custom TouchSpin Spinners end
            // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
