- var tour                  = true;
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-6
                  h4
                    | Tour
                .col-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Bonus Ui
                    li.breadcrumb-item.active Tour
          // Container-fluid starts
          .container-fluid
            .user-profile
              .row
                // user profile first-style start
                .col-sm-12
                  .card.hovercard.text-center
                    .cardheader
                    .user-image
                      .avatar
                        img(alt='', src='../assets/images/user/7.jpg', data-intro='This is cuba profile')
                      .icon-wrapper
                        i.icofont.icofont-pencil-alt-5(data-intro='Change cuba profile image here')
                    .info
                      .row.g-3(data-intro='This is your profile details')
                        .col-sm-6.col-xl-4.order-sm-1.order-xl-0
                          .row.g-3
                            .col-md-6
                              .text-start.tour-email
                                h6.tour-mb-space
                                  i.fa.fa-envelope
                                  |    Email
                                span William@jourrapide.com
                            .col-md-6
                              .text-start.ttl-sm-mb-0.tour-email
                                h6.tour-mb-space
                                  i.fa.fa-calendar
                                  |    BOD
                                span 02 January 1988
                        .col-sm-12.col-xl-4.order-sm-0.order-xl-1
                          .user-designation.tour-email
                            .title
                              a(target='_blank', href='') William C. Jennings
                            .desc.mt-2  Web Designer
                        .col-sm-6.col-xl-4.order-sm-2.order-xl-2
                          .row.g-3
                            .col-md-6.mt-0.mt-sm-3
                              .text-start.ttl-xs-mt.tour-email
                                h6.tour-mb-space
                                  i.fa.fa-phone
                                  |    Contact Us
                                span US 310-273-0666
                            .col-md-6
                              .text-start.ttl-sm-mb-0.tour-email
                                h6.tour-mb-space
                                  i.fa.fa-location-arrow
                                  |    Location
                                span 4377 Libby Street Beverly Hills
                      hr
                      .social-media(data-intro='This is your social details')
                        ul.list-inline
                          li.list-inline-item
                            a(href='https://www.facebook.com/' target="_blank")
                              i.fa.fa-facebook
                          li.list-inline-item
                            a(href='https://accounts.google.com/' target="_blank")
                              i.fa.fa-google-plus
                          li.list-inline-item
                            a(href='https://twitter.com/' target="_blank")
                              i.fa.fa-twitter
                          li.list-inline-item
                            a(href='https://www.instagram.com/' target="_blank")
                              i.fa.fa-instagram
                          li.list-inline-item
                            a(href='https://rss.app/' target="_blank")
                              i.fa.fa-rss
                      .follow
                        .row
                          .col-6.border-end
                            .follow-num.counter 25.8K
                            span Follower
                          .col-6
                            .follow-num.counter 65.2M
                            span Following
                // user profile first-style end
                // user profile second-style start
                .col-sm-12(data-intro='This is your first Post')
                  .card
                    .profile-img-style
                      .row.g-2
                        .col-sm-8
                          .media
                            img.img-thumbnail.rounded-circle.me-3(src='../assets/images/user/7.jpg', alt='Generic placeholder image')
                            .media-body.align-self-center
                              h5.mt-0.user-name William C. Jennings
                              .tour-wrapper
                                span 25 Jan
                                i.tour-dot.fa.fa-circle
                                span.txt-danger 6 min read
                        .col-sm-4.align-self-center.mt-0.text-end
                          .social-media.social-tour(data-intro='This is your social details')
                            ul.list-inline
                              li.list-inline-item
                                a(href='https://www.facebook.com/' target="_blank")
                                  i.fa.fa-facebook
                              li.list-inline-item
                                a(href='https://accounts.google.com/' target="_blank")
                                  i.fa.fa-google-plus
                              li.list-inline-item
                                a(href='https://twitter.com/' target="_blank")
                                  i.fa.fa-twitter
                              li.list-inline-item
                                a(href='https://www.instagram.com/' target="_blank")
                                  i.fa.fa-instagram
                              li.list-inline-item
                                a(href='https://rss.app/' target="_blank")
                                  i.fa.fa-rss
                            .float-sm-end
                              small 3 min ago
                      hr
                      h5.pb-3 Wonderful piece that successfully conveys the magnificence of the mountains and the natural world.
                      p.block-ellipsis
                        | English Romantic painter, printer, and watercolourist 
                        em.txt-danger William C. Jennings
                        |  Is most renowned for his expressive colorization, creative landscapes, and stormy, sometimes violent maritime works. However, this moody image of the Devil's Bridge in Switzerland, close to the Gotthard Pass, feels incredibly authentic and accurately depicts historical occasions when Russian general Suvorov crossed the Alps and fought not only far larger enemy troops!
                      .img-container
                        #aniimated-thumbnials
                          a(href='javascript:void(0)')
                            img.img-fluid.rounded(src='../assets/images/other-images/profile-style-img3.png', alt='gallery')
                          p.block-ellipsis.pt-3
                            | The curved canvas is enclosed in a complex frame that the artist created but that his buddy Gottlieb Christian Kuhn carved. A variety of Christian symbols are depicted on the frame, including the faces of five infant angels, a star, grapes, vines, corn, and God's eye.Many of the Romantic elements and subjects that he would explore throughout his career are present in this work, one of his earliest, most notable of which is the landscape's significant significance. In spite of the altarpiece's inclusion of a crucifix, the emphasis is
                            a.txt-danger(href="user-profile.html" target="_blank")  Read More
                      .like-comment.mt-4
                        ul.list-inline
                          li.list-inline-item.b-r-gray.pe-3
                            label.m-0
                              a(href='#')
                                i.fa.fa-heart
                              |   Like
                          li.list-inline-item.b-r-gray.pe-3
                            label.m-0
                              a(href='#')
                                i.fa.fa-comment
                              |   Comment
                          li.list-inline-item
                            label.m-0
                              a(href='#')
                                i.fa.fa-paper-plane
                              |   Share
                // user profile second-style end
                // user profile third-style start
                .col-sm-12
                  .card
                    .profile-img-style
                      .row.g-2
                        .col-sm-8
                          .media
                            img.img-thumbnail.rounded-circle.me-3(src='../assets/images/user/7.jpg', alt='Generic placeholder image')
                            .media-body.align-self-center
                              h5.mt-0.user-name William C. Jennings
                              .tour-wrapper
                                span 25 Jan
                                i.tour-dot.fa.fa-circle
                                span.txt-danger 1 min read
                        .col-sm-4.align-self-center.mt-0.text-end
                          .social-media.social-tour(data-intro='This is your social details')
                            ul.list-inline
                              li.list-inline-item
                                a(href='https://www.facebook.com/' target="_blank")
                                  i.fa.fa-facebook
                              li.list-inline-item
                                a(href='https://accounts.google.com/' target="_blank")
                                  i.fa.fa-google-plus
                              li.list-inline-item
                                a(href='https://twitter.com/' target="_blank")
                                  i.fa.fa-twitter
                              li.list-inline-item
                                a(href='https://www.instagram.com/' target="_blank")
                                  i.fa.fa-instagram
                              li.list-inline-item
                                a(href='https://rss.app/' target="_blank")
                                  i.fa.fa-rss
                            .float-sm-end
                              small 10 Hours ago
                      hr
                      p.block-ellipsis
                        | you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                      #aniimated-thumbnials-2.row.g-3.mt-4.pictures
                        a.col-sm-6(href='javascript:void(0)')
                          .tour-blog
                            img.img-fluid.rounded(src='../assets/images/other-images/mountain.jpg', alt='mountain')
                        a.col-sm-6(href='javascript:void(0)')
                          .tour-blog
                            img.img-fluid.rounded(src='../assets/images/other-images/sea.jpg', alt='sea')
                      .like-comment.mt-4
                        ul.list-inline
                          li.list-inline-item.b-r-gray.pe-3
                            label.m-0
                              a(href='#')
                                i.fa.fa-heart
                              |   Like
                          li.list-inline-item.b-r-gray.pe-3
                            label.m-0
                              a(href='#')
                                i.fa.fa-comment
                              |   Comment
                          li.list-inline-item
                            label.m-0
                              a(href='#')
                                i.fa.fa-paper-plane
                              |   Share
                // user profile third-style end
                // user profile fourth-style start
                .col-sm-12
                  .card
                    .profile-img-style
                      .row.g-2
                        .col-sm-8
                          .media
                            img.img-thumbnail.rounded-circle.me-3(src='../assets/images/user/7.jpg', alt='Generic placeholder image')
                            .media-body.align-self-center
                              h5.mt-0.user-name William C. Jennings
                              .tour-wrapper
                                span 09 Dec
                                i.tour-dot.fa.fa-circle
                                span.txt-danger 2 min read
                        .col-sm-4.align-self-center.mt-0.text-end
                          .social-media.social-tour(data-intro='This is your social details')
                            ul.list-inline
                              li.list-inline-item
                                a(href='https://www.facebook.com/' target="_blank")
                                  i.fa.fa-facebook
                              li.list-inline-item
                                a(href='https://accounts.google.com/' target="_blank")
                                  i.fa.fa-google-plus
                              li.list-inline-item
                                a(href='https://twitter.com/' target="_blank")
                                  i.fa.fa-twitter
                              li.list-inline-item
                                a(href='https://www.instagram.com/' target="_blank")
                                  i.fa.fa-instagram
                              li.list-inline-item
                                a(href='https://rss.app/' target="_blank")
                                  i.fa.fa-rss
                            .float-sm-end
                              small 9 Month ago
                      hr
                      p.block-ellipsis
                        | Nature has a role in our lives. We are a part of everything since we sprang from a seed and the ground, but we are quickly losing the perception that we are animals much like the rest. Is it possible to feel something when you gaze at, appreciate, and hear a tree? Can you pay attention to the tiny weed, the creeper climbing the wall, the light on the leaves, and the numerous shadows? All of this must be understood, and one must have a feeling of connectedness with the natural world around them. Despite living in a town, there are still a few trees here and there. The next garden's bloom could not be well-kept.
                      .like-comment.mt-4
                        ul.list-inline
                          li.list-inline-item.b-r-gray.pe-3
                            label.m-0
                              a(href='#')
                                i.fa.fa-heart
                              |   Like
                          li.list-inline-item.b-r-gray.pe-3
                            label.m-0
                              a(href='#')
                                i.fa.fa-comment
                              |   Comment
                          li.list-inline-item
                            label.m-0
                              a(href='#')
                                i.fa.fa-paper-plane
                              |   Share
                // user profile fourth-style end
                // user profile fifth-style start
                .col-sm-12
                  .card
                    .profile-img-style
                      .row.g-2
                        .col-sm-8
                          .media
                            img.img-thumbnail.rounded-circle.me-3(src='../assets/images/user/7.jpg', alt='Generic placeholder image')
                            .media-body.align-self-center
                              h5.mt-0.user-name William C. Jennings
                              .tour-wrapper
                                span 02 Feb
                                i.tour-dot.fa.fa-circle
                                span.txt-danger 5 min read
                        .col-sm-4.align-self-center.mt-0.text-end
                          .social-media.social-tour(data-intro='This is your social details')
                            ul.list-inline
                              li.list-inline-item
                                a(href='https://www.facebook.com/' target="_blank")
                                  i.fa.fa-facebook
                              li.list-inline-item
                                a(href='https://accounts.google.com/' target="_blank")
                                  i.fa.fa-google-plus
                              li.list-inline-item
                                a(href='https://twitter.com/' target="_blank")
                                  i.fa.fa-twitter
                              li.list-inline-item
                                a(href='https://www.instagram.com/' target="_blank")
                                  i.fa.fa-instagram
                              li.list-inline-item
                                a(href='https://rss.app/' target="_blank")
                                  i.fa.fa-rss
                            .float-sm-end
                              small 2 Yours ago
                      hr
                      .row
                        .col-lg-12.col-xl-4
                          #aniimated-thumbnials-3
                            a(href='javascript:void(0)')
                              img.img-fluid.rounded(src='../assets/images/other-images/sidebar-bg.jpg', alt='nature')
                        .col-xl-6
                          p.block-ellipsis.pt-xl-0.pt-3
                            | The wind gives life to the planet. This unobservable, enigmatic energy has the power to revitalize a setting. Its absence can cause the world to become serenely motionless. Its strength is scarcely visible on bare mountain summits, but it becomes obvious in woods and on the water. Winds may be violent and even harmful. When we investigate it carefully Nature is not a destination. Home is here. Garry Snyder In a very real sense, our home, or natural environment, is made up of mountains and valleys, the seas and the sky, the sun and the soil, the trees and the flowers. Growing up in the contemporary, civilized environment, it's simple to start believing
                          .like-comment.mt-4
                            ul.list-inline
                              li.list-inline-item.b-r-gray.pe-3
                                label.m-0
                                  a(href='#')
                                    i.fa.fa-heart
                                  |   Like
                              li.list-inline-item.b-r-gray.pe-3
                                label.m-0
                                  a(href='#')
                                    i.fa.fa-comment
                                  |   Comment
                              li.list-inline-item
                                label.m-0
                                  a(href='#')
                                    i.fa.fa-paper-plane
                                  |   Share
                // user profile fifth-style end

          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
