/**=====================
    3.44 Dashboard_7 Start
==========================**/
.increase-content {

    &.pe-0 {
        [dir="rtl"] & {
            padding-right: 30px !important;
            padding-left: 0px !important;
        }
    }
}

.knowledge-wrapper {
    div {
        width: 80%;

        button {
            position: absolute;
            padding: 5px 16px;
            bottom: 63px;

            @media (max-width:1700px) {
                padding: 5px 8px;
            }

            @media (max-width:1600px) {
                padding: 4px;
            }
        }
    }

    .knowledgebase-wrapper {
        width: 75%;
        margin-top: -17%;
        margin-left: auto;

        [dir="rtl"] & {
            margin-left: unset;
            margin-right: auto;
            transform: scaleX(-1);
        }
    }
}

.school-performance-wrap {
    @media (max-width:1399px) {
        margin-bottom: -23px;
    }

    @media (max-width:1200px) {
        margin-bottom: -53px;
    }

    @media (max-width:1199px) {
        margin-bottom: -54px;
    }

}

.count-student {
    .school-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .school-header {
            i {
                font-size: 12px;
                font-weight: 600;
            }

            p {
                line-height: 1.4;
            }
        }

        .school-body {
            img {
                width: calc(62px + (70 - 62) * ((100vw - 320px) / (1920 - 320)));
                position: relative;
            }

            .right-line {
                position: absolute;
                bottom: 0;
                right: 0;

                [dir="rtl"] & {
                    right: unset;
                    left: 0;
                }

                img {
                    width: 100%;
                    height: 100%;

                    [dir="rtl"] & {
                        transform: scaleX(-1);
                    }
                }
            }
        }
    }
}

.income-wrapper {
    @media (max-width:1400px) {
        margin-bottom: -26px;
    }

    ul {
        display: flex;
        justify-content: space-between;

        @media (min-width:1200px) and (max-width:1735px) {
            justify-content: flex-start;
            gap: 10px;
            flex-wrap: wrap;
        }

        @media (max-width:650px) {
            justify-content: flex-start;
            gap: 11px;
            flex-wrap: wrap;
        }

        @media (max-width: 395px) {
            flex-wrap: nowrap;
        }

        li {
            text-align: center;

            +li {
                border-left: 1px dashed rgba($badge-light-color, 30%);

                [dir="rtl"] & {
                    border-left: unset;
                    border-right: 1px dashed rgba($badge-light-color, 30%);
                }

                @media (min-width:1200px) and (max-width:1735px) {
                    border-left: unset;

                    [dir="rtl"] & {
                        border-right: unset;
                    }
                }

                @media (max-width:650px) {
                    border-left: unset;

                    [dir="rtl"] & {
                        border-right: unset;
                    }
                }
            }

            h6 {
                display: inline-block;
            }

            .income-dot {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 6px;

                [dir="rtl"] & {
                    margin-left: 6px;
                    margin-right: unset;
                }
            }
        }
    }
}

.performance-wrap {
    @media (max-width:1678px) {
        margin-bottom: -23px;
    }
}

// Overview and Performance
.performance-wrapper {
    display: flex;
    justify-content: space-between;

    .performance-left {
        display: flex;
        gap: 16px;

        .nav {
            &.nav-tabs {
                .nav-link {
                    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 500;
                    color: $dark-color;
                    border-bottom: 2px solid transparent;

                    @media (max-width: 540px) {
                        margin-bottom: -6px;
                    }


                    &:hover {
                        color: rgba($theme-body-sub-title-color, 80%);
                    }

                    &.active,
                    &:active {
                        color: $dark-color;
                        border-bottom: 2px solid $primary-color;
                        box-shadow: inset 0px -12px 8px -6px rgb(115 102 255 / 50%);
                    }
                }

                @media (max-width: 576px) {
                    display: flex;
                }

                @media (max-width: 385px) {
                    flex-wrap: wrap;
                }
            }
        }
    }

    .performance-right {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 540px) {
            display: none;
        }

        p {
            color: rgba($theme-body-font-color, 80%);
            font-weight: 500;
        }

        i {
            font-size: 14px;
        }
    }

}

.attendance-card {
    display: flex;
    padding: 15px;
    border-radius: 5px;
    gap: 15px;
    align-items: center;


    @media (max-width:1700px) {
        gap: 10px;
    }

    @media (max-width: 480px) {
        align-items: flex-start;
    }

    .left-overview-content {
        display: flex;
        gap: 15px;
        align-items: center;

        .svg-box {
            width: 43px;
            height: 43px;
            background-color: var(--white);
            box-shadow: 0px 71.2527px 51.5055px rgb(229 229 245 / 19%), 0px 42.3445px 28.0125px rgb(229 229 245 / 15%), 0px 21.9866px 14.2913px rgb(229 229 245 / 13%), 0px 8.95749px 7.16599px rgb(229 229 245 / 10%), 0px 2.03579px 3.46085px rgb(229 229 245 / 6%);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .right-overview-content {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 43px - 15px);

        h6 {
            padding-bottom: 7px;
        }

        span {
            line-height: 18.69px;
        }

        @media (max-width:1700px) {
            gap: 18px
        }

        @media (max-width: 480px) {
            flex-wrap: wrap;
            gap: 7px;
        }

        .marks-count {
            display: flex;
            gap: 23px;
            align-items: center;

            sub {
                bottom: -0.8px;
            }

            @media (max-width:1700px) {
                gap: 12px;
                flex-wrap: wrap;
            }

            @media (max-width: 480px) {
                gap: 14px;
            }
        }
    }

}

// Student leader
.student-leader-wrapper {
    .student-leader-content {
        display: flex;
        gap: 10px;
        padding: 10px;
        border-bottom: $card-border-color;
        flex-wrap: wrap;

        img {
            width: 24px;
            height: 27px;
        }

        .leader-img {
            width: 35px;
            height: 35px;
            border-radius: 5px;

            @media (max-width:1672px) {
                display: none;
            }
        }

        h5 {
            color: $badge-light-color;

            sup {
                font-size: 12px;
            }
        }

        .leader-content-height {
            span {
                line-height: 18.69px;
            }
        }
    }
}


// Today's task
.task-table {
    .main-task {
        display: flex;
        align-items: center;
        gap: 10px;

        .task-progress {
            width: 100px;
            height: 6px;
        }
    }

    .recent-table {
        &.task-table {
            tr {
                td {
                    &:first-child {
                        min-width: 312px;
                    }

                    &:nth-child(2) {
                        min-width: 110px;
                    }

                    &:last-child {
                        padding-right: 8px;
                        min-width: 34px;

                        [dir="rtl"] & {
                            padding-right: unset;
                            padding-left: 8px;
                        }
                    }
                }
            }
        }

        table {
            tr {
                &:last-child {
                    td {
                        padding-bottom: 12px;
                    }
                }
            }
        }
    }

    .main-task-wrapper {
        tr {
            td {
                .form-check {
                    &.checkbox-width {
                        min-width: 60px;
                    }
                }
            }
        }

        .task-icons {
            display: flex;
            align-items: center;
            gap: 12px;

            li {
                &:last-child {
                    border-left: 1px solid $gray-60;
                    padding-left: 10px;
                    display: flex;
                    gap: 8px;

                    [dir="rtl"] & {
                        border-left: unset;
                        border-right: 1px solid $gray-60;
                        padding-left: unset;
                        padding-right: 10px;
                    }
                }
            }
        }

        .square-white {
            width: 34px;
            height: 34px;
            border-radius: 2px;
            background-color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 71.2527px 51.5055px rgba(229, 229, 245, 0.189815), 0px 42.3445px 28.0125px rgba(229, 229, 245, 0.151852), 0px 21.9866px 14.2913px rgba(229, 229, 245, 0.125), 0px 8.95749px 7.16599px rgba(229, 229, 245, 0.0981481), 0px 2.03579px 3.46085px rgba(229, 229, 245, 0.0601852);

            i {
                color: rgba($theme-body-sub-title-color, 50%);
                font-size: 17px;

            }
        }

        .fill-clock {
            fill: rgba($theme-body-sub-title-color, 80%);
        }

        button {
            padding: 4px 6px 4px 6px;
        }



    }

    .open-options {
        .dropdown-toggle {
            &::after {
                content: '';
                display: none;
            }
        }

        .dropdown-menu {
            padding: 9px 14px;

            &.show {
                display: flex;
                gap: 8px;
                min-width: 0;
            }

            li {
                .dropdown-item {
                    &:hover {
                        i {
                            color: $theme-body-sub-title-color;
                        }
                    }
                }
            }
        }
    }

    .icons-box {

        @media (max-width:1770px) {
            display: none;

        }
    }

    .icons-box-2 {

        @media (max-width:1920px) {
            display: none;
        }

        @media (max-width:1770px) {
            display: table-cell;
        }
    }
}

// Notice-board
.notice-board {
    ul {
        li {
            h6 {
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 500;
                line-height: 18.69px;

            }

            p {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}

// Pie chart
.attendance-chart {
    display: flex;
    justify-content: center;
}

.text-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.apexcharts-legend-series {
    @media (max-width:1515px) {
        margin: 5px 6px !important;
    }
}

.apexcharts-legend {
    @media (max-width:1870px) {
        [dir="rtl"] & {
            margin-right: -20px;
        }

    }

    @media (max-width:1870px) {
        [dir="rtl"] & {
            margin-right: -47px;
        }
    }

    @media (max-width:1515px) {
        [dir="rtl"] & {
            margin-right: -27px;
        }
    }
}

/**=====================
   3.44 Dashboard_7 Ends
==========================**/