- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var apex                  = true;
- var animate               = true;
- var scrollbar             = true;
- var height_equal          = true;
- var owlcarousel           = true;
- var swiper                = true;
- var timer_down            = true;
- var dashboard_6           = true; 
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-6
                  h4
                    | NFT
                .col-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Dashboard
                    li.breadcrumb-item.active NFT
          // Container-fluid starts
          .container-fluid
              .row 
                .col-xxl-3.col-xl-4.col-md-6.custom-rs-4.box-col-6
                  .card.trending-card.height-equal
                    .card-header.card-no-border
                      .header-top
                        h5.m-0 Trending Creator
                        .card-header-right-icon
                          a(href="#") View
                    .card-body.pt-0.activity-card 
                      .appointment-table.customer-table.table-responsive
                        table.table.table-bordernone
                          tbody
                            tr
                              td
                                img.img-fluid.img-40.rounded-circle.me-2(src='../assets/images/dashboard-6/1.png',alt='building')
                              td.img-content-box
                                a(href="javascript:void(0)").d-block.f-w-500 Project
                                span.f-light 12.090 Items
                              td.text-end 
                                span.f-w-500 $200
                                span.d-block.f-light Total USD
                            tr
                              td
                                img.img-fluid.img-40.rounded-circle.me-2(src='../assets/images/dashboard-6/2.png',alt='leaf')
                              td.img-content-box
                                a(href="javascript:void(0)").d-block.f-w-500 The Aston
                                span.f-light 12.098 Items
                              td.text-end 
                                span.f-w-500 $340
                                span.d-block.f-light Total USD
                            tr
                              td
                                img.img-fluid.img-40.rounded-circle.me-2(src='../assets/images/dashboard-6/3.png',alt='leaf')
                              td.img-content-box
                                a(href="javascript:void(0)").d-block.f-w-500 Narkey X
                                span.f-light 19.998 Items
                              td.text-end 
                                span.f-w-500 $879
                                span.d-block.f-light Total USD
                .col-xxl-6.col-xl-4.custom-rs-4.explore-wrap.box-col-none
                  .card.explore-card.height-equal
                    .card-body
                      .row 
                        .col-xxl-6.custom-rs-12
                          h5.mb-3 NFTs – the next level of when wealth and ignorance collide.
                          p.mb-3.f-light Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                          .group-btn
                            button.btn.btn-secondary(type="button") Explore
                            button.btn.btn-white(type="button") Create Now
                          ul.decore
                            li.dot-gradient.dot-1
                            li.dot-gradient.dot-2
                .col-xxl-3.col-xl-4.col-md-6.custom-rs-4.box-col-6
                  .card.total-balance
                    .card-header.card-no-border
                      .header-top
                        h5 Your Balance
                        .dropdown.icon-dropdown
                          button#userdropdown.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                            i.icon-more-alt
                          .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown')
                            a.dropdown-item(href='#') Weekly
                            a.dropdown-item(href='#') Monthly
                            a.dropdown-item(href='#') Yearly
                      .d-flex.align-items-center.f-light.mt-1
                        p.mb-0 cro09hjgnbfdfsdfdsfds4uhjiff...
                        i.fa.fa-clipboard.ms-2
                    .card-body.pt-0 
                      h3 $904,500.10
                      p.f-light 
                        span Total Offers
                        span.ms-2 USD 456,000  
                          span.font-success (67,11%)
                      button.btn.bg-light-primary.font-primary.w-100(type="button") Tap to Your Balance
                        i.ms-2.icofont.icofont-arrow-right
                .col-xl-6.box-col-12
                  .card.income-wrap
                    .row.mx-0
                      .col-xxl-6.px-0.col-xl-12.col-md-6 
                        .card-header.card-no-border
                          .header-top
                            h5.m-0 Income
                            .card-header-right-icon
                              .dropdown
                                button#dropdownMenuButton.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                  | Weekly
                                .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton')
                                  a.dropdown-item(href='#') Weekly
                                  a.dropdown-item(href='#') Monthly
                                  a.dropdown-item(href='#') Yearly
                        .card-body.pt-0
                          .income-chart-wrapper 
                            #income-chart
                      .col-md-6.px-0.d-xxl-block.d-xl-none
                        .card-header.card-no-border.ps-md-0
                          .header-top
                            h5 Weekly Sales Status
                            .dropdown.icon-dropdown
                              button#statusdropdown.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                                i.icon-more-alt
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='statusdropdown')
                                a.dropdown-item(href='#') Weekly
                                a.dropdown-item(href='#') Monthly
                                a.dropdown-item(href='#') Yearly
                        .card-body.pt-0.sale-status-table.ps-md-0
                          .table-responsive 
                            table.table 
                              thead 
                                tr 
                                  th.f-light.f-w-500.pt-0 Course
                                  th.f-light.f-w-500.pt-0 Sale
                                  th.f-light.f-w-500.text-end.pt-0  Earnings
                              tbody 
                                tr 
                                  td 
                                    .d-flex.align-items-center.gap-2 
                                      img(src="../assets/images/dashboard-6/sales/1.png", alt="artwork")
                                      div 
                                        h6.f-14 3d Artwork
                                        span.f-light.f-12 Designning.co
                                  td 
                                    h6.f-14 12
                                  td.text-end 
                                    span.badge.badge-light-success.f-w-500 $120.9
                                tr 
                                  td 
                                    .d-flex.align-items-center.gap-2 
                                      img(src="../assets/images/dashboard-6/sales/2.png", alt="3d writing")
                                      div 
                                        h6.f-14 3d Writing
                                        span.f-light.f-12 Designning.co
                                  td 
                                    h6.f-14 20
                                  td.text-end  
                                    span.badge.badge-light-success.f-w-500 $180.5
                                tr 
                                  td 
                                    .d-flex.align-items-center.gap-2 
                                      img(src="../assets/images/dashboard-6/sales/3.png", alt="3d writing")
                                      div 
                                        h6.f-14 Themedev.
                                        span.f-light.f-12 Designning.co
                                  td 
                                    h6.f-14 27
                                  td.text-end  
                                    span.badge.badge-light-success.f-w-500 $190.2
                .col-xl-6.box-col-12
                  .card 
                    .card-header.card-no-border
                      h5 Trending Action 
                    .card-body.pt-0 
                      .slider-wrapper.arrow-round
                        .swiper-button-next
                        .swiper-button-prev
                        .swiper.trending-slider
                          .swiper-wrapper
                            .swiper-slide
                              .product-card
                                .product-image 
                                  img.img-fluid(src='../assets/images/dashboard-6/action/1.png' alt='nft')
                                  a.author-img(href="#")
                                    img.img-fluid(src='../assets/images/dashboard-6/author/1.png' alt='author')
                                .product-nft-content
                                  h6.f-14 Amet minim mollit 
                                  p.f-12.f-light.mb-2 Owned by 
                                    span.font-primary Bilout
                                  ul 
                                    li 
                                      span.f-12.f-light Auction Time
                                      span.d-block.f-light.f-w-500.timer(data-date="Dec 7, 2023 04:15:01")
                                        span.me-1 
                                          span.hours
                                          span h
                                        span.me-1 
                                          span.minutes
                                          span m
                                        span
                                          span.seconds
                                          span s
                                    li 
                                      span.f-12.f-light Current Bid
                                      span.d-block.f-light.f-w-500 0.15 ETH
                                  button.btn.bg-light-primary.font-primary.w-100.mt-3(type="button") Place a Bid
                            .swiper-slide
                              .product-card
                                .product-image 
                                  img.img-fluid(src='../assets/images/dashboard-6/action/2.png' alt='nft')
                                  a.author-img(href="#")
                                    img.img-fluid(src='../assets/images/dashboard-6/author/2.png' alt='author')
                                .product-nft-content
                                  h6.f-14 Amet minim mollit 
                                  p.f-12.f-light.mb-2 Owned by 
                                    span.font-primary Bilout
                                  ul 
                                    li 
                                      span.f-12.f-light Auction Time
                                      span.d-block.f-light.f-w-500.timer(data-date="Dec 7, 2023 04:15:01")
                                        span.me-1 
                                          span.hours
                                          span h
                                        span.me-1 
                                          span.minutes
                                          span m
                                        span
                                          span.seconds
                                          span s
                                    li 
                                      span.f-12.f-light Current Bid
                                      span.d-block.f-light.f-w-500 0.15 ETH
                                  button.btn.bg-light-primary.font-primary.w-100.mt-3(type="button") Place a Bid
                            .swiper-slide
                              .product-card
                                .product-image 
                                  img.img-fluid(src='../assets/images/dashboard-6/action/3.png' alt='nft')
                                  a.author-img(href="#")
                                    img.img-fluid(src='../assets/images/dashboard-6/author/3.png' alt='author')
                                .product-nft-content
                                  h6.f-14 Amet minim mollit 
                                  p.f-12.f-light.mb-2 Owned by 
                                    span.font-primary Bilout
                                  ul 
                                    li 
                                      span.f-12.f-light Auction Time
                                      span.d-block.f-light.f-w-500.timer(data-date="Dec 7, 2023 04:15:01")
                                        span.me-1 
                                          span.hours
                                          span h
                                        span.me-1 
                                          span.minutes
                                          span m
                                        span
                                          span.seconds
                                          span s
                                    li 
                                      span.f-12.f-light Current Bid
                                      span.d-block.f-light.f-w-500 0.15 ETH
                                  button.btn.bg-light-primary.font-primary.w-100.mt-3(type="button") Place a Bid
                            .swiper-slide
                              .product-card
                                .product-image 
                                  img.img-fluid(src='../assets/images/dashboard-6/action/1.png' alt='nft')
                                  a.author-img(href="#")
                                    img.img-fluid(src='../assets/images/dashboard-6/author/1.png' alt='author')
                                .product-nft-content
                                  h6.f-14 Amet minim mollit 
                                  p.f-12.f-light.mb-2 Owned by 
                                    span.font-priamry Bilout
                                  ul 
                                    li 
                                      span.f-12.f-light Auction Time
                                      span.d-block.f-light.f-w-500.timer(data-date="Dec 7, 2023 04:15:01")
                                        span.me-1 
                                          span.hours
                                          span h
                                        span.me-1 
                                          span.minutes
                                          span m
                                        span
                                          span.seconds
                                          span s
                                    li 
                                      span.f-12.f-light Current Bid
                                      span.d-block.f-light.f-w-500 0.15 ETH
                                  button.btn.bg-light-primary.font-primary.w-100.mt-1(type="button") Place a Bid
                            .swiper-slide
                              .product-card
                                .product-image 
                                  img.img-fluid(src='../assets/images/dashboard-6/action/1.png' alt='nft')
                                  a.author-img(href="#")
                                    img.img-fluid(src='../assets/images/dashboard-6/author/1.png' alt='author')
                                .product-nft-content
                                  h6.f-14 Amet minim mollit 
                                  p.f-12.f-light.mb-2 Owned by 
                                    span.font-priamry Bilout
                                  ul 
                                    li 
                                      span.f-12.f-light Auction Time
                                      span.d-block.f-light.f-w-500.timer(data-date="Dec 7, 2023 04:15:01")
                                        span.me-1 
                                          span.hours
                                          span h
                                        span.me-1 
                                          span.minutes
                                          span m
                                        span
                                          span.seconds
                                          span s
                                    li 
                                      span.f-12.f-light Current Bid
                                      span.d-block.f-light.f-w-500 0.15 ETH
                                  button.btn.bg-light-primary.font-primary.w-100.mt-1(type="button") Place a Bid
                .col-xxl-3.col-xl-4.box-col-12
                  .row 
                    .col-xl-12.col-md-6.box-col-6
                       .card.widget-hover
                        .card-body.radial-progress-card 
                          div 
                            h6.mb-0 Earned by Artists
                            .sale-details.mb-1 
                              h5.font-primary.mb-0 2.78 ETH
                              span.f-12.f-light.f-w-500
                                i.font-success.me-1(data-feather="trending-up")
                                | +5.7%
                            p.f-light  $ 4,987 USD
                          .artist-chart-wrap 
                            #artist-chart 
                    .col-xl-12.col-md-6.box-col-6
                       .card.widget-hover
                        .card-body.radial-progress-card 
                          div 
                            h6.mb-0 Secondary Sales
                            .sale-details.mb-1 
                              h5.font-warning.mb-0 3.90 ETH
                              span.f-12.f-light.f-w-500
                                i.font-success.me-1(data-feather="trending-up")
                                | +2.7%
                            p.f-light  $ 3,897 USD
                          .artist-chart-wrap 
                            #sale-chart
                    .col-xl-12.col-md-6.box-col-6
                       .card.widget-hover
                        .card-body.radial-progress-card 
                          div 
                            h6.mb-0 Avg release Value
                            .sale-details.mb-1 
                              h5.font-success.mb-0 2.78 ETH
                              span.f-12.f-light.f-w-500
                                i.font-success.me-1(data-feather="trending-up")
                                | +2.7%
                            p.f-light  $ 4,987 USD
                          .artist-chart-wrap 
                            #release-chart
                    .col-xl-12.col-md-6.box-col-6
                      .card.mobile-app-card.upgrade-plan.widget-hover
                        .card-header.card-no-border.pb-0 
                          h5.mb-1 Upgrade Your Plan
                          p.f-light.mb-2 Amet minim mollit non deseru ullamco est.
                          button.purchase-btn.btn.btn-primary.btn-hover-effect.f-w-500(type="button") Upgrade Now
                        .card-body.p-0.text-end
                          img(src="../assets/images/dashboard-6/1.gif", alt="")
                .col-xxl-9.col-xl-8.box-col-12
                  .row 
                    .col-sm-12 
                      .card 
                        .card-header.card-no-border.pb-3
                          h5 Trending NFT
                        .card-body.pt-0 
                          .slider-wrapper.arrow-round
                            .swiper.category-slider
                              .swiper-wrapper
                                .swiper-slide
                                  a.category-box(href="#")
                                    img(src="../assets/images/dashboard-6/category/1.png", alt="nft art")
                                    h6 Art
                                .swiper-slide
                                  a.category-box(href="#")
                                    img(src="../assets/images/dashboard-6/category/2.png", alt="nft music")
                                    h6 Music
                                .swiper-slide
                                  a.category-box(href="#")
                                    img(src="../assets/images/dashboard-6/category/3.png", alt="nft game")
                                    h6 Games
                                .swiper-slide
                                  a.category-box(href="#")
                                    img(src="../assets/images/dashboard-6/category/4.png", alt="nft music")
                                    h6 Music
                                .swiper-slide
                                  a.category-box(href="#")
                                    img(src="../assets/images/dashboard-6/category/5.png", alt="nft")
                                    h6 Metavereses
                                .swiper-slide
                                  a.category-box(href="#")
                                    img(src="../assets/images/dashboard-6/category/3.png", alt="nft game")
                                    h6 Games
                    .col-xxl-8.col-lg-12.col-md-6
                      .card 
                        .card-header.card-no-border.pb-2
                          .header-top
                            h5 Top NFT
                            .dropdown.icon-dropdown
                              button#nftdropdown.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                                i.icon-more-alt
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='nftdropdown')
                                a.dropdown-item(href='#') Weekly
                                a.dropdown-item(href='#') Monthly
                                a.dropdown-item(href='#') Yearly
                        .card-body.pt-0
                          .recent-table.table-responsive.nft-table 
                            table.table 
                              thead 
                                tr 
                                  th.f-light Collection
                                  th.f-light Volume
                                  th.f-light 24h %
                                  th.f-light.text-end Items
                              tbody 
                                tr 
                                  td
                                    div.product-content
                                      .order-image
                                        img(src="../assets/images/dashboard-6/author/4.png", alt="author")
                                        img.mark-img(src="../assets/images/dashboard-6/author/mark.png", alt="mark icon")
                                      div 
                                        h6.f-14.mb-0
                                          a(href="#") The X Takashih
                                        span.f-light.f-12 Manfers nfts
                                  td.f-w-400
                                    .d-flex.align-items-center 
                                      img.me-2(src="../assets/images/dashboard-6/nft.png", alt="nft icon") 
                                      span $13,098.09
                                  td.f-w-500.font-success 
                                    .d-flex.align-items-center 
                                      i.me-2(data-feather="trending-up")
                                      span 5.90
                                  td.f-w-400.text-end 17.09K
                                tr 
                                  td
                                    div.product-content
                                      .order-image
                                        img(src="../assets/images/dashboard-6/author/5.png", alt="author")
                                        img.mark-img(src="../assets/images/dashboard-6/author/mark.png", alt="mark icon")
                                      div 
                                        h6.f-14.mb-0
                                          a(href="#") Williamson
                                        span.f-light.f-12 Manfers nfts
                                  td.f-w-400
                                    .d-flex.align-items-center 
                                      img.me-2(src="../assets/images/dashboard-6/nft.png", alt="nft icon") 
                                      span $10,050.00
                                  td.f-w-500.font-success 
                                    .d-flex.align-items-center 
                                      i.me-2(data-feather="trending-up")
                                      span 4.5
                                  td.f-w-400.text-end 16.15K
                                tr 
                                  td
                                    div.product-content
                                      .order-image
                                        img(src="../assets/images/dashboard-6/author/6.png", alt="author")
                                        img.mark-img(src="../assets/images/dashboard-6/author/mark.png", alt="mark icon")
                                      div 
                                        h6.f-14.mb-0
                                          a(href="#") Jenny Wilson
                                        span.f-light.f-12 Manfers nfts
                                  td.f-w-400
                                    .d-flex.align-items-center 
                                      img.me-2(src="../assets/images/dashboard-6/nft.png", alt="nft icon") 
                                      span $8,547.05
                                  td.f-w-500.font-danger 
                                    .d-flex.align-items-center 
                                      i.me-2(data-feather="trending-down")
                                      span 2.65
                                  td.f-w-400.text-end 14.12K
                    .col-xxl-4.col-lg-12.col-md-6.d-xxl-block.d-xl-none.d-block
                      .card.papernote-wrap.statistics-card
                        .card-header.card-no-border
                          .header-top 
                            h5 Statistics
                            a.f-light.d-flex.align-items-center(href="#") View 
                              i.f-w-700(class="icon-arrow-right")
                        .card-body.pt-0
                          ul.d-flex 
                            li
                              span.f-light Total art sold
                              h5 135
                            li
                              span.f-light Total Earning
                              h5 908 ETH
                          .statistic-chart-wrap   
                            #statistic-chart
                    .col-xxl-4.col-sm-6  
                      .card.papernote-wrap.statistics-card.widget-hover
                        .card-header.card-no-border
                          .header-top 
                            h5 Top Artist
                            a.f-light.d-flex.align-items-center(href="#") View 
                              i.f-w-700(class="icon-arrow-right")
                        .card-body.pt-0.artist-table
                          .appointment-table.customer-table.table-responsive
                            table.table.table-bordernone
                              tbody
                                tr
                                  td
                                    img.img-fluid.img-40.rounded-circle.me-2(src='../assets/images/dashboard-6/author/8.png',alt='author')
                                  td.img-content-box
                                    a(href="javascript:void(0)").d-block.f-w-500 Williamson
                                    span.f-light curtis@example.com
                                  td.text-end 
                                    button.btn.button-primary
                                      i.me-1(data-feather="user-plus")
                                      span Follow
                    .col-xxl-4.col-sm-6
                      .card.papernote-wrap.statistics-card.widget-hover
                        .card-header.card-no-border
                          .header-top 
                            h5 Top Seller
                            a.f-light.d-flex.align-items-center(href="#") View 
                              i.f-w-700(class="icon-arrow-right")
                        .card-body.pt-0.artist-table
                          .appointment-table.customer-table.table-responsive
                            table.table.table-bordernone
                              tbody
                                tr
                                  td
                                    img.img-fluid.img-40.rounded-circle.me-2(src='../assets/images/dashboard-6/author/9.png',alt='author')
                                  td.img-content-box
                                    a(href="javascript:void(0)").d-block.f-w-500 Jenny Wilson
                                    span.f-light wilson@example.com
                                  td.text-end 
                                    img.img-fluid.medal-img(src='../assets/images/dashboard-6/author/medal.svg',alt='Batch icon')
                    .col-xl-4.d-xxl-block.d-xl-none.d-block
                      .card.papernote-wrap.statistics-card.widget-hover
                        .card-header.card-no-border
                          .header-top 
                            h5 Recent Activity
                            a.f-light.d-flex.align-items-center(href="#") View 
                              i.f-w-700(class="icon-arrow-right")
                        .card-body.pt-0.activity-table
                          .appointment-table.customer-table.table-responsive
                            table.table.table-bordernone
                              tbody
                                tr
                                  td
                                    img.img-fluid.img-40.rounded-circle.me-2(src='../assets/images/dashboard-6/author/10.png',alt='author')
                                  td.img-content-box
                                    a(href="javascript:void(0)").d-block.f-w-500 Jenny Wilson
                                    span.f-light Bought by for
                                      span.font-primary.d-inline-block 0.98 ETH
                                  td
                                    .d-flex.align-items-center.justify-content-end 
                                      span.status-success.me-2 
                                      span.f-light 12m ago
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
