- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
- var height_equal          = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-6
                  h4
                    | Helper Classes
                .col-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Ui Kits
                    li.breadcrumb-item.active Helper Classes
          // Container-fluid starts
          .container-fluid
            .row
              .col-12
                .card
                  .card-header
                    h4 Styles in borders
                    p.f-m-light.mt-1 
                      | Use the different styles of borders like: 
                      code border radius/border-color/border-width
                      | . Use of any components.
                  .card-body
                    .row.g-3
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Custom border-radius class
                          .helper-common-box
                            .helper-box.b-r-0.bg-light.border
                            span .b-r-0
                          .helper-common-box
                            .helper-box.b-r-1.bg-light.border
                            span .b-r-1
                          .helper-common-box
                            .helper-box.b-r-2.bg-light.border
                            span .b-r-2
                          .helper-common-box
                            .helper-box.b-r-3.bg-light.border
                            span .b-r-3
                          .helper-common-box
                            .helper-box.b-r-4.bg-light.border
                            span .b-r-4
                          .helper-common-box
                            .helper-box.b-r-5.bg-light.border
                            span .b-r-5
                          .helper-common-box
                            .helper-box.b-r-6.bg-light.border
                            span .b-r-6
                          .helper-common-box
                            .helper-box.b-r-7.bg-light.border
                            span .b-r-7
                          .helper-common-box
                            .helper-box.b-r-8.bg-light.border
                            span .b-r-8
                          .helper-common-box
                            .helper-box.b-r-9.bg-light.border
                            span .b-r-9
                          .helper-common-box
                            .helper-box.b-r-10.bg-light.border
                            span .b-r-10
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Border color
                          .helper-common-box
                            .helper-box.border-primary.border
                            span .border-primary
                          .helper-common-box
                            .helper-box.border-secondary.border
                            span .border-secondary
                          .helper-common-box
                            .helper-box.border-success.border
                            span .border-success
                          .helper-common-box
                            .helper-box.border-danger.border
                            span .border-danger
                          .helper-common-box
                            .helper-box.border-warning.border
                            span .border-warning
                          .helper-common-box
                            .helper-box.border-info.border
                            span .border-info
                          .helper-common-box
                            .helper-box.border-dark.border
                            span .border-dark
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Border-width
                          .helper-common-box
                            .helper-box.border-1.border 
                            span .border-1
                          .helper-common-box
                            .helper-box.border-2.border 
                            span .border-2
                          .helper-common-box
                            .helper-box.border-3.border 
                            span .border-3
                          .helper-common-box
                            .helper-box.border-4.border 
                            span .border-4
                          .helper-common-box
                            .helper-box.border-5.border 
                            span .border-5
                          .helper-common-box
                            .helper-box.border-6.border 
                            span .border-6
                          .helper-common-box
                            .helper-box.border-7.border 
                            span .border-7
                          .helper-common-box
                            .helper-box.border-8.border 
                            span .border-8
                          .helper-common-box
                            .helper-box.border-9.border 
                            span .border-9
                          .helper-common-box
                            .helper-box.border-10.border 
                            span .border-10 
                      .col-xxl-3.col-sm-6
                        .border-wrapper.alert-light-light.h-100.dark-helper
                          h6.mb-3 Text colors
                          .helper-common-box
                            .helper-box.helper-text.border.txt-primary C 
                            span .txt-primary
                          .helper-common-box
                            .helper-box.helper-text.border.txt-secondary C 
                            span .txt-secondary
                          .helper-common-box
                            .helper-box.helper-text.border.txt-success C 
                            span .txt-success
                          .helper-common-box
                            .helper-box.helper-text.border.txt-danger C 
                            span .txt-danger
                          .helper-common-box
                            .helper-box.helper-text.border.txt-warning C 
                            span .txt-warning
                          .helper-common-box
                            .helper-box.helper-text.border.txt-info C 
                            span .txt-info
                          .helper-common-box
                            .helper-box.helper-text.border.txt-dark C 
                            span .txt-dark
                          .helper-common-box
                            .helper-box.helper-text.border.txt-light.bg-dark C 
                            span .txt-light
              .col-12
                .card
                  .card-header
                    h4 Borders and displays
                    p.f-m-light.mt-1 
                      | Use border utilities to add or remove an element's borders.
                  .card-body
                    .row.g-3
                      .col-xl-4.col-sm-6
                        .border-wrapper.h-100.border
                          h6.mb-3 Additive border 
                          .helper-common-box
                            .helper-box.bg-light.border
                            span .border
                          .helper-common-box
                            .helper-box.bg-light.border-top
                            span .border-top
                          .helper-common-box
                            .helper-box.bg-light.border-bottom
                            span .border-bottom
                          .helper-common-box
                            .helper-box.bg-light.border-start
                            span .border-start
                          .helper-common-box
                            .helper-box.bg-light.border-end
                            span .border-end
                      .col-xl-4.col-sm-6
                        .border-wrapper.h-100.border
                          h6.mb-3 Subtractive border
                          .helper-common-box
                            .helper-box.bg-light.border.border-0 
                            span .border-0
                          .helper-common-box
                            .helper-box.bg-light.border.border-top-0 
                            span .border-top-0
                          .helper-common-box
                            .helper-box.bg-light.border.border-end-0 
                            span .border-end-0
                          .helper-common-box
                            .helper-box.bg-light.border.border-bottom-0 
                            span .border-bottom-0
                          .helper-common-box
                            .helper-box.bg-light.border.border-start-0 
                            span .border-start-0
                      .col-xl-4.col-sm-12
                        .border-wrapper.h-100.border
                          h6.mb-3 Additive radius
                          .helper-common-box
                            .helper-radius.radius-wrapper.rounded
                            span .rounded
                          .helper-common-box
                            .helper-radius.radius-wrapper.rounded-top
                            span .rounded-top
                          .helper-common-box
                            .helper-radius.radius-wrapper.rounded-end
                            span .rounded-end
                          .helper-common-box
                            .helper-radius.radius-wrapper.rounded-bottom
                            span .rounded-bottom
                          .helper-common-box
                            .helper-radius.radius-wrapper.rounded-start
                            span .rounded-start
                          .helper-common-box
                            .helper-radius.radius-wrapper.rounded-pill
                            span .rounded-pill
                          .helper-common-box
                            .helper-radius.radius-wrapper.rounded-circle
                            span .rounded-circle
                          .helper-common-box
                            .helper-radius.radius-wrapper.rounded-0
                            span .rounded-0 
              .col-12
                .card
                  .card-header
                    h4 Background colors 
                    p.f-m-light.mt-1 
                      | Use the 
                      code .bg-* 
                      | and 
                      code .alert-light-* 
                      | colors in cuba theme. Use of any components.
                  .card-body
                    .row.g-3
                      .col-xl-4.col-sm-6
                        .border-wrapper.h-100.border
                          h6.mb-3 Dark background
                          .helper-common-box
                            .helper-box.bg-primary
                            span .bg-primary 
                          .helper-common-box
                            .helper-box.bg-secondary
                            span .bg-secondary 
                          .helper-common-box
                            .helper-box.bg-success
                            span .bg-success 
                          .helper-common-box
                            .helper-box.bg-danger
                            span .bg-danger 
                          .helper-common-box
                            .helper-box.bg-warning
                            span .bg-warning 
                          .helper-common-box
                            .helper-box.bg-info
                            span .bg-info 
                          .helper-common-box
                            .helper-box.bg-dark
                            span .bg-dark 
                          .helper-common-box
                            .helper-box.bg-light
                            span .bg-light 
                      .col-xl-4.col-sm-6
                        .border-wrapper.h-100.border
                          h6.mb-3 Light backgrounds
                          .helper-common-box
                            .helper-box.alert-light-primary 
                            span .alert-light-primary 
                          .helper-common-box
                            .helper-box.alert-light-secondary
                            span .alert-light-secondary
                          .helper-common-box
                            .helper-box.alert-light-success
                            span .alert-light-success
                          .helper-common-box
                            .helper-box.alert-light-danger
                            span .alert-light-danger
                          .helper-common-box
                            .helper-box.alert-light-warning
                            span .alert-light-warning
                          .helper-common-box
                            .helper-box.alert-light-info
                            span .alert-light-info
                          .helper-common-box
                            .helper-box.alert-light-dark
                            span .alert-light-dark
                          .helper-common-box
                            .helper-box.alert-light-light
                            span .alert-light-light
                      .col-xl-4.col-sm-12
                        .border-wrapper.h-100.border
                          h6.mb-3 Extended background colors
                          .helper-common-box
                            .helper-box.light-card 
                            span .light-card
                          .helper-common-box
                            .helper-box.light-background.border
                            span .light-background  
              .col-12
                .card
                  .card-header
                    h4 Border color
                    p.f-m-light.mt-1 
                      | Use the 
                      code .b-*/.b-t-*/.b-b-*/.b-l-*/.b-r-* 
                      | class for borders.
                  .card-body 
                      .gradient-border
                        .helper-common-box
                          .helper-box.b-primary.border.fill-wrapper 
                          span .b-primary
                        .helper-common-box
                          .helper-box.b-t-primary.border.fill-wrapper 
                          span .b-t-primary
                        .helper-common-box
                          .helper-box.b-b-primary.border.fill-wrapper 
                          span .b-b-primary
                        .helper-common-box
                          .helper-box.b-l-primary.border.fill-wrapper 
                          span .b-l-primary
                        .helper-common-box
                          .helper-box.b-r-primary.border.fill-wrapper 
                          span .b-r-primary
                        .helper-common-box
                          .helper-box.b-secondary.border.fill-wrapper 
                          span .b-secondary
                        .helper-common-box
                          .helper-box.b-t-secondary.border.fill-wrapper 
                          span .b-t-secondary
                        .helper-common-box
                          .helper-box.b-b-secondary.border.fill-wrapper 
                          span .b-b-secondary
                        .helper-common-box
                          .helper-box.b-l-secondary.border.fill-wrapper 
                          span .b-l-secondary
                        .helper-common-box
                          .helper-box.b-r-secondary.border.fill-wrapper 
                          span .b-r-secondary
                        .helper-common-box
                          .helper-box.b-success.border.fill-wrapper 
                          span .b-success
                        .helper-common-box
                          .helper-box.b-t-success.border.fill-wrapper 
                          span .b-t-success
                        .helper-common-box
                          .helper-box.b-b-success.border.fill-wrapper 
                          span .b-b-success
                        .helper-common-box
                          .helper-box.b-l-success.border.fill-wrapper 
                          span .b-l-success
                        .helper-common-box
                          .helper-box.b-r-success.border.fill-wrapper 
                          span .b-r-success
                        .helper-common-box
                          .helper-box.b-danger.border.fill-wrapper 
                          span .b-danger
                        .helper-common-box
                          .helper-box.b-t-danger.border.fill-wrapper 
                          span .b-t-danger
                        .helper-common-box
                          .helper-box.b-b-danger.border.fill-wrapper 
                          span .b-b-danger
                        .helper-common-box
                          .helper-box.b-l-danger.border.fill-wrapper 
                          span .b-l-danger
                        .helper-common-box
                          .helper-box.b-r-danger.border.fill-wrapper 
                          span .b-r-danger
                        .helper-common-box
                          .helper-box.b-warning.border.fill-wrapper 
                          span .b-warning
                        .helper-common-box
                          .helper-box.b-t-warning.border.fill-wrapper 
                          span .b-t-warning
                        .helper-common-box
                          .helper-box.b-b-warning.border.fill-wrapper 
                          span .b-b-warning
                        .helper-common-box
                          .helper-box.b-l-warning.border.fill-wrapper 
                          span .b-l-warning
                        .helper-common-box
                          .helper-box.b-r-warning.border.fill-wrapper 
                          span .b-r-warning
                        .helper-common-box
                          .helper-box.b-info.border.fill-wrapper 
                          span .b-info
                        .helper-common-box
                          .helper-box.b-t-info.border.fill-wrapper 
                          span .b-t-info
                        .helper-common-box
                          .helper-box.b-b-info.border.fill-wrapper 
                          span .b-b-info
                        .helper-common-box
                          .helper-box.b-l-info.border.fill-wrapper 
                          span .b-l-info
                        .helper-common-box
                          .helper-box.b-r-info.border.fill-wrapper 
                          span .b-r-info
                        .helper-common-box
                          .helper-box.b-dark.border.fill-wrapper 
                          span .b-dark
                        .helper-common-box
                          .helper-box.b-t-dark.border.fill-wrapper 
                          span .b-t-dark
                        .helper-common-box
                          .helper-box.b-b-dark.border.fill-wrapper 
                          span .b-b-dark
                        .helper-common-box
                          .helper-box.b-l-dark.border.fill-wrapper 
                          span .b-l-dark
                        .helper-common-box
                          .helper-box.b-r-dark.border.fill-wrapper 
                          span .b-r-dark
                        .helper-common-box
                          .helper-box.b-light.border.fill-wrapper 
                          span .b-light
                        .helper-common-box
                          .helper-box.b-t-light.border.fill-wrapper 
                          span .b-t-light
                        .helper-common-box
                          .helper-box.b-b-light.border.fill-wrapper 
                          span .b-b-light
                        .helper-common-box
                          .helper-box.b-l-light.border.fill-wrapper 
                          span .b-l-light
                        .helper-common-box
                          .helper-box.b-r-light.border.fill-wrapper 
                          span .b-r-light
              .col-xl-6
                .card.height-equal
                  .card-header
                    h4 Images sizes
                    p.f-m-light.mt-1 
                      | Use the width and height of images class like: 
                      code .img-* 
                      | and 
                      code .img-h-*
                      | .
                  .card-body 
                    .gradient-border.gap-3
                      img.img-30.img-h-30(src="../assets/images/blog/comment.jpg", alt="img-size-30")
                      img.img-40.img-h-40(src="../assets/images/blog/comment.jpg", alt="img-size-40")
                      img.img-50.img-h-50(src="../assets/images/blog/comment.jpg", alt="img-size-50")
                      img.img-60.img-h-60(src="../assets/images/blog/comment.jpg", alt="img-size-60")
                      img.img-70.img-h-70(src="../assets/images/blog/comment.jpg", alt="img-size-70")
                      img.img-80.img-h-80(src="../assets/images/blog/comment.jpg", alt="img-size-80")
                      img.img-90.img-h-90(src="../assets/images/blog/comment.jpg", alt="img-size-90")
                      img.img-100.img-h-100(src="../assets/images/blog/comment.jpg", alt="img-size-100")                         
              .col-xl-6
                .card.height-equal
                  .card-header
                    h4 Font-style
                    p.f-m-light.mt-1 
                      | Use the font-style like: 
                      code  .f-s-*[normal/italic/oblique/initial/inherit]
                      | .
                  .card-body 
                      p.f-s-normal 
                        | This is a 
                        strong .f-s-normal
                        |  font-style 
                      p.f-s-italic
                        | This is a 
                        strong .f-s-italic
                        |  font-style 
                      p.f-s-oblique
                        | This is a 
                        strong .f-s-oblique
                        |  font-style 
                      p.f-s-initial
                        | This is a 
                        strong .f-s-initial
                        |  font-style 
                      p.f-s-inherit
                        | This is a 
                        strong .f-s-inherit
                        |  font-style 
              .col-xl-6
                .card.height-equal
                  .card-header
                    h4 Font weight 
                    p.f-m-light.mt-1 
                      | Use the font-weight classes like: 
                      code .f-w-* [100/300/400/600/700/900]
                  .card-body
                    .helper-common-box
                      .f-w-100 
                        | You can set light font weight heading .f-w-100
                    .helper-common-box
                      .f-w-300
                        | You can set light font weight heading .f-w-300
                    .helper-common-box
                      .f-w-400
                        | You can set light font weight heading .f-w-400
                    .helper-common-box
                      .f-w-600
                        | You can set bolder font weight heading .f-w-600
                    .helper-common-box
                      .f-w-700
                        | You can set bold font weight heading .f-w-700
                    .helper-common-box
                      .f-w-900
                        | You can set bold font weight heading .f-w-900
              .col-xl-6
                .card.height-equal
                  .card-header
                    h4 Text colors
                    p.f-m-light.mt-1 
                      | Use the text color for 
                      code .font-*
                      |  class.
                  .card-body 
                    .helper-common-box
                    .font-primary 
                      | This is a 
                      strong font-primary 
                      |  text used class as .font-primary
                    .helper-common-box
                    .font-secondary
                      | This is a 
                      strong font-secondary 
                      |  text used class as .font-secondary 
                    .helper-common-box
                    .font-success
                      | This is a 
                      strong font-success 
                      |  text used class as .font-success
                    .helper-common-box
                    .font-danger
                      | This is a 
                      strong font-danger 
                      |  text used class as .font-danger
                    .helper-common-box
                    .font-warning
                      | This is a 
                      strong font-warning 
                      |  text used class as .font-warning
                    .helper-common-box
                    .font-info
                      | This is a 
                      strong font-info 
                      |  text used class as .font-info
                    .helper-common-box
                    .font-dark
                      | This is a 
                      strong font-dark 
                      |  text used class as .font-dark
              .col-xl-12
                .card
                  .card-header
                    h4 Padding
                    p.f-m-light.mt-1 
                      | Use the padding classes like: 
                      code .p-* [10/15/20/25/30/35/40/45/50]
                  .card-body
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Padding
                          .helper-common-box.helper-p-wrapper
                            .helper-p-box.p-10.bg-light.border
                              span .p-10
                            .helper-p-box.p-15.bg-light.border
                              span .p-15
                            .helper-p-box.p-20.bg-light.border
                              span .p-20
                            .helper-p-box.p-25.bg-light.border
                              span .p-25
                            .helper-p-box.p-30.bg-light.border
                              span .p-30
                            .helper-p-box.p-35.bg-light.border
                              span .p-35
                            .helper-p-box.p-40.bg-light.border
                              span .p-40
                            .helper-p-box.p-45.bg-light.border
                              span .p-45
                            .helper-p-box.p-50.bg-light.border
                              span .p-50
              .col-xl-12
                .card.height-equal
                  .card-header
                    h4 Only one side padding
                    p.f-m-light.mt-1 
                      | Use the padding classes like: 
                      code .p-l-*/.p-r-*/.p-t-*/.p-b-*
                  .card-body
                    .row.g-3    
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Padding Left
                          .common-p-box
                              span .p-l-10
                              span .p-l-15
                              span .p-l-20
                              span .p-l-25
                              span .p-l-30
                              span .p-l-35
                              span .p-l-40
                              span .p-l-45
                              span .p-l-50  
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Padding Right
                          .common-p-box
                              span .p-r-10
                              span .p-r-15
                              span .p-r-20
                              span .p-r-25
                              span .p-r-30
                              span .p-r-35
                              span .p-r-40
                              span .p-r-45
                              span .p-r-50 
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Padding Top
                          .common-p-box
                              span .p-t-10
                              span .p-t-15
                              span .p-t-20
                              span .p-t-25
                              span .p-t-30
                              span .p-t-35
                              span .p-t-40
                              span .p-t-45
                              span .p-t-50 
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Padding Bottom
                          .common-p-box
                              span .p-b-10
                              span .p-b-15
                              span .p-b-20
                              span .p-b-25
                              span .p-b-30
                              span .p-b-35
                              span .p-b-40
                              span .p-b-45
                              span .p-b-50 
              .col-xl-12
                .card
                  .card-header
                    h4 Margin
                    p.f-m-light.mt-1 
                      | Use the margin classes like: 
                      code .m-* [10/15/20/25/30/35/40/45/50]
                  .card-body
                    .gradient-border
                      .helper-common-box.gap-0.mb-0
                        .helper-box.m-10.border.bg-light
                        span .m-10
                      .helper-common-box.gap-0.mb-0
                        .helper-box.m-15.border.bg-light
                        span .m-15
                      .helper-common-box.gap-0.mb-0
                        .helper-box.m-20.border.bg-light
                        span .m-20
                      .helper-common-box.gap-0.mb-0
                        .helper-box.m-25.border.bg-light
                        span .m-25
                      .helper-common-box.gap-0.mb-0
                        .helper-box.m-30.border.bg-light
                        span .m-30
                      .helper-common-box.gap-0.mb-0
                        .helper-box.m-35.border.bg-light
                        span .m-35
                      .helper-common-box.gap-0.mb-0
                        .helper-box.m-40.border.bg-light
                        span .m-40
                      .helper-common-box.gap-0.mb-0
                        .helper-box.m-45.border.bg-light
                        span .m-45
                      .helper-common-box.gap-0.mb-0
                        .helper-box.m-50.border.bg-light
                        span .m-50
                            
              .col-xl-12
                .card.height-equal
                  .card-header
                    h4 Only one side margin
                    p.f-m-light.mt-1 
                      | Use the margin classes like: 
                      code .m-l-*/.m-r-*/.m-t-*/.m-b-*
                  .card-body
                    .row.g-3    
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Margin Left
                          .common-p-box
                              span .m-l-10
                              span .m-l-15
                              span .m-l-20
                              span .m-l-25
                              span .m-l-30
                              span .m-l-35
                              span .m-l-40
                              span .m-l-45
                              span .m-l-50  
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Padding Right
                          .common-p-box
                              span .m-r-10
                              span .m-r-15
                              span .m-r-20
                              span .m-r-25
                              span .m-r-30
                              span .m-r-35
                              span .m-r-40
                              span .m-r-45
                              span .m-r-50 
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Padding Top
                          .common-p-box
                              span .m-t-10
                              span .m-t-15
                              span .m-t-20
                              span .m-t-25
                              span .m-t-30
                              span .m-t-35
                              span .m-t-40
                              span .m-t-45
                              span .m-t-50 
                      .col-xxl-3.col-sm-6
                        .border-wrapper.h-100.alert-light-light.dark-helper
                          h6.mb-3 Padding Bottom
                          .common-p-box
                              span .m-b-10
                              span .m-b-15
                              span .m-b-20
                              span .m-b-25
                              span .m-b-30
                              span .m-b-35
                              span .m-b-40
                              span .m-b-45
                              span .m-b-50 

                          
                  


              .col-12
                .card
                  .card-header
                    h4 Font sizes
                    p.f-m-light.mt-1 
                      | Use the font-size for 
                      code .f-* [14/16/18/20/22/24/26/28/30/32/34/36/38/40]
                      | .
                  .card-body 
                    .gradient-border 
                      .font-wrapper.border
                        .f-14
                          | Font-size .f-14
                      .font-wrapper.border
                        .f-16
                          | Font-size .f-16
                      .font-wrapper.border
                        .f-18
                          | Font-size .f-18
                      .font-wrapper.border
                        .f-20
                          | Font-size .f-20
                      .font-wrapper.border
                        .f-22
                          | Font-size .f-22
                      .font-wrapper.border
                        .f-24
                          | Font-size .f-24
                      .font-wrapper.border
                        .f-26
                          | Font-size .f-26
                      .font-wrapper.border
                        .f-28
                          | Font-size .f-28
                      .font-wrapper.border
                        .f-30
                          | Font-size .f-30
                      .font-wrapper.border
                        .f-32
                          | Font-size .f-32
                      .font-wrapper.border
                        .f-34
                          | Font-size .f-34
                      .font-wrapper.border
                        .f-36
                          | Font-size .f-36
                      .font-wrapper.border
                        .f-38
                          | Font-size .f-38
                      .font-wrapper.border
                        .f-40
                          | Font-size .f-40
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
