- var theme_customizer      = true;
- var tooltip               = true;
- var owlcarousel           = true;
- var js_datatables         = true;
- var custom_list_product   = true;
- var ecommerce             = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-6
                  h4 
                    | Product list

                .col-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item ECommerce
                    li.breadcrumb-item.active Product list
          // Container-fluid starts
          .container-fluid
            .row 
              .col-sm-12 
                .card 
                  .card-body
                    .list-product-header
                      div 
                        .light-box
                          a(data-bs-toggle='collapse' href='#collapseProduct' role='button' aria-expanded='false' aria-controls='collapseProduct')
                            i.filter-icon.show(data-feather='filter')
                            i.icon-close.filter-close.hide
                        a(href="add-products.html").btn.btn-primary
                          i.fa.fa-plus
                          | Add Product
                      #collapseProduct.collapse
                        .card.card-body.list-product-body
                          .row.row-cols-xl-5.row-cols-lg-4.row-cols-md-3.row-cols-sm-2.row-cols-2.g-3 
                            .col 
                              select.form-select(aria-label='Default select example')
                                option(selected='') Choose Product
                                option(value='1') Apple iphone 13 Pro
                                option(value='2') Wood Chair
                                option(value='3') M185 Compact Wireless Mouse
                            .col 
                              select.form-select(aria-label='Default select example')
                                option(selected='') Choose Category
                                option(value='1') Furniture
                                option(value='2') Smart Gadgets
                                option(value='3') Electrics
                            .col 
                              select.form-select(aria-label='Default select example')
                                option(selected='') Choose Sub Category
                                option(value='1') Smart Phones
                                option(value='2') Smart Watches
                                option(value='3') Wireless headphone
                            .col 
                              select.form-select(aria-label='Default select example')
                                option(selected='') Status
                                option(value='1') Sold Out 
                                option(value='2') In Stock
                                option(value='3') Pre Order
                                option(value='4') Limited Stock 

                            .col 
                              select.form-select(aria-label='Default select example')
                                option(selected='') Price
                                option(value='1') 56000.00
                                option(value='2') 19000.00
                                option(value='3') 10000.00
                                option(value='3') 15000.00
                                option(value='3') 99000.00
                    .list-product
                      table#project-status.table
                        thead 
                          tr 
                            th
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            th 
                              span.f-light.f-w-600 Product Name
                            th 
                              span.f-light.f-w-600 SKU
                            th 
                              span.f-light.f-w-600 Category
                            th 
                              span.f-light.f-w-600 Price
                            th 
                              span.f-light.f-w-600 Qty
                            th 
                              span.f-light.f-w-600 Status
                            th 
                              span.f-light.f-w-600 Rating
                            th 
                              span.f-light.f-w-600 Action

                        tbody 
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/laptop.png", alt="laptop")
                                p Apple Desktop 2023
                            td 
                              p.f-light 02145YK796
                            td  
                              p.f-light Laptops
                            td 
                              p.f-light 56000.00
                            td 
                              p.f-light 13
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/phone.png", alt="phone")
                                p Apple iphone 13 Pro
                            td 
                              p.f-light 56379FG3AW
                            td  
                              p.f-light Smart Phones    
                            td 
                              p.f-light 19000.00
                            td 
                              p.f-light 48
                            td 
                              span.badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/headphone.png", alt="headphones")
                                p Headphones
                            td 
                              p.f-light 33KR5689B1
                            td  
                              p.f-light Smart Headphones       
                            td 
                              p.f-light 10000.00
                            td 
                              p.f-light 5
                            td 
                              .badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/wireless-headphone.png", alt="wireless headphone")
                                p wireless-headphone
                            td 
                              p.f-light AD6789HEY0
                            td  
                              p.f-light Smart Headphones         
                            td 
                              p.f-light 15000.00
                            td 
                              p.f-light 4
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-2/product/1.png", alt="chair")
                                p Wood Chair
                            td 
                              p.f-light 456DF78DFQ
                            td  
                              p.f-light Furniture         
                            td 
                              p.f-light 99000.00
                            td 
                              p.f-light 2
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/email-template/3.png", alt="chairs")
                                p Wood Chair
                            td 
                              p.f-light 5633GD3K54
                            td  
                              p.f-light Furniture       
                            td 
                              p.f-light 1000.00
                            td 
                              p.f-light 8
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/ipad.png", alt="mac laptop")
                                p MacBook Air 13.3-inch
                            td 
                              p.f-light 589KO8PPQ8
                            td  
                              p.f-light Laptops         
                            td 
                              p.f-light 45000.00
                            td 
                              p.f-light 10
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/mouse.png", alt="mouse")
                                p M185 Compact Wireless Mouse
                            td 
                              p.f-light 02145YK796
                            td  
                              p.f-light E-Commerce         
                            td 
                              p.f-light 56000.00
                            td 
                              p.f-light 13
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                                i.fa.fa-star.f-light
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/other-images/cart-img.jpg", alt="chairs")
                                p Wood chairs
                            td 
                              p.f-light 568GH3LLQ2
                            td  
                              p.f-light Furniture 
                            td 
                              p.f-light 78000.00
                            td 
                              p.f-light 50
                            td 
                              .badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/watch.png", alt="watch")
                                p Smart watch
                            td 
                              p.f-light 58FR7K34F6
                            td  
                              p.f-light Electric         
                            td 
                              p.f-light 25000.00
                            td 
                              p.f-light 48
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/dvd.png", alt="DVD")
                                p DVD
                            td 
                              p.f-light HG5667DFQ1
                            td  
                              p.f-light Electric      
                            td 
                              p.f-light 5600.00
                            td 
                              p.f-light 10
                            td 
                              span.badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/speaker.png", alt="speakers")
                                p Speakers
                            td 
                              p.f-light 02145YK796
                            td  
                              p.f-light Electric
                            td 
                              p.f-light 12200.00
                            td 
                              p.f-light 50
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/phone.png", alt="phone")
                                p Apple iphone 13 Pro
                            td 
                              p.f-light 56379FG3AW
                            td  
                              p.f-light Smart Phones    
                            td 
                              p.f-light 19000.00
                            td 
                              p.f-light 48
                            td 
                              span.badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/headphone.png", alt="headphones")
                                p Headphones
                            td 
                              p.f-light 33KR5689B1
                            td  
                              p.f-light Smart Headphones       
                            td 
                              p.f-light 10000.00
                            td 
                              p.f-light 5
                            td 
                              span.badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/other-images/cart-img.jpg", alt="chairs")
                                p Wood chairs
                            td 
                              p.f-light 568GH3LLQ2
                            td  
                              p.f-light Furniture 
                            td 
                              p.f-light 78000.00
                            td 
                              p.f-light 50
                            td 
                              span.badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/watch.png", alt="watch")
                                p Smart watch
                            td 
                              p.f-light 58FR7K34F6
                            td  
                              p.f-light Electric         
                            td 
                              p.f-light 25000.00
                            td 
                              p.f-light 48
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/phone.png", alt="phone")
                                p Apple iphone 13 Pro
                            td 
                              p.f-light 56379FG3AW
                            td  
                              p.f-light Smart Phones    
                            td 
                              p.f-light 19000.00
                            td 
                              p.f-light 48
                            td 
                              span.badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/headphone.png", alt="headphones")
                                p Headphones
                            td 
                              p.f-light 33KR5689B1
                            td  
                              p.f-light Smart Headphones       
                            td 
                              p.f-light 10000.00
                            td 
                              p.f-light 5
                            td 
                              span.badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/wireless-headphone.png", alt="wireless headphone")
                                p wireless-headphone
                            td 
                              p.f-light AD6789HEY0
                            td  
                              p.f-light Smart Headphones         
                            td 
                              p.f-light 15000.00
                            td 
                              p.f-light 4
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-2/product/1.png", alt="chair")
                                p Wood Chair
                            td 
                              p.f-light 456DF78DFQ
                            td  
                              p.f-light Furniture         
                            td 
                              p.f-light 99000.00
                            td 
                              p.f-light 2
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/email-template/3.png", alt="chairs")
                                p Wood Chair
                            td 
                              p.f-light 5633GD3K54
                            td  
                              p.f-light Furniture       
                            td 
                              p.f-light 1000.00
                            td 
                              p.f-light 8
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/laptop.png", alt="laptop")
                                p Apple Desktop 2023
                            td 
                              p.f-light 02145YK796
                            td  
                              p.f-light Laptops
                            td 
                              p.f-light 56000.00
                            td 
                              p.f-light 13
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/phone.png", alt="phone")
                                p Apple iphone 13 Pro
                            td 
                              p.f-light 56379FG3AW
                            td  
                              p.f-light Smart Phones    
                            td 
                              p.f-light 19000.00
                            td 
                              p.f-light 48
                            td 
                              span.badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/headphone.png", alt="headphones")
                                p Headphones
                            td 
                              p.f-light 33KR5689B1
                            td  
                              p.f-light Smart Headphones       
                            td 
                              p.f-light 10000.00
                            td 
                              p.f-light 5
                            td 
                              span.badge.badge-light-primary In Stock
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-8/product-categories/wireless-headphone.png", alt="wireless headphone")
                                p wireless-headphone
                            td 
                              p.f-light AD6789HEY0
                            td  
                              p.f-light Smart Headphones         
                            td 
                              p.f-light 15000.00
                            td 
                              p.f-light 4
                            td 
                              span.badge.badge-light-secondary Sold Out 
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
                          tr.product-removes
                            td
                              .form-check 
                                input.form-check-input.checkbox-primary(type='checkbox')
                            td 
                              .product-names
                                .light-product-box
                                  img.img-fluid(src="../assets/images/dashboard-2/product/1.png", alt="chair")
                                p Wood Chair
                            td 
                              p.f-light 456DF78DFQ
                            td  
                              p.f-light Furniture         
                            td 
                              p.f-light 99000.00
                            td 
                              p.f-light 2
                            td 
                              span.badge.badge-light-secondary Sold Out
                            td 
                              .rating
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.txt-warning
                                i.fa.fa-star.f-light
                                i.fa.fa-star.f-light
                                i.fa.fa-star.f-light
                            td 
                              .product-action
                                a(href="add-products.html") 
                                  svg     
                                    use(href="../assets/svg/icon-sprite.svg#edit-content")
                                svg
                                  use(href="../assets/svg/icon-sprite.svg#trash1")
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
